[2014-10-23 08:56] gijzelaerr opened #1 "set src folder as default include path"
at the moment you need to manually set it:

`python setup.py build_ext -Isrc`

[2014-10-23 08:59] gijzelaerr opened #2 "adjust casacore include paths in source files"
Currently in the C (header) files the `casacore` files are included without the top-level `casacore` folder, this is why you need to add the casacore include path manually:

`python setup.py build_ext -I/usr/include/casacore`

Probably it is better to just prepend `cacacore` in the includes, so the compiler will find them automatically. Problem is that some header files in casacore itself don't ha

[2014-10-23 09:00] gijzelaerr opened #3 "Link to casa_python3 in case of Python3"
Malte is working on a python2 and python3 specific casa_python shared library. We should link to the correct version for each python.

[2014-10-23 09:01] gijzelaerr opened #4 "Autocompile doc on readthedocs"

[2014-10-23 09:01] gijzelaerr opened #5 "Add travis-ci automated test build"

[2014-10-29 07:53] gijzelaerr opened #6 "Add some more tests to have at least 70% coverage"

[2014-11-10 15:01] gijzelaerr opened #7 "Remove old Converter code since we use libcasa_python now."

[2014-11-10 15:06] gijzelaerr opened #8 "Add backwards compatability"
we've moved the python code to the 'casacore' namespace. Code that still uses the pyrap namespace should work without requiring modification.

[2014-11-10 15:07] #5 closed, assigned to gijzelaerr

[2014-11-10 16:14] sjperkins opened #9 "Consider out parameters for getter methods"
In the old pyrap wrappers we have this kind of functionality

[code]

which creates a uvw ndarray array. I'd like to suggest the following functionality be available

[code]

as it can cut down on array creation, and is useful for cases where the ndarray is backed by scarce pinned (page-locked) memory. This use-case is primarily motivated by interaction with PyCUDA, where pinned memory is required

[2014-11-11 09:08] #7 closed, assigned to gijzelaerr

[2014-11-11 09:22] #1 closed, assigned to gijzelaerr

[2014-11-13 09:28] gijzelaerr opened #10 "python3 compilations fails"
[code]

[2014-12-22 13:31] #9 closed, assigned to gijzelaerr

[2014-12-23 10:01] o-smirnov opened #11 "pyrap.tables.addImagingColumns() not compatible with lwimager"
See https://github.com/ska-sa/lwimager/issues/3.

Underlying issue seems to be that lwimager seems to want a CHANNEL_SELECTION keyword in MODEL_DATA of the form ```{'CHANNEL_SELECTION': array([[ 0, 32]], dtype=int32)}```, while addImagingColumns() adds something that omits the dtype attribute.

Workaround is to add these via lwimager. Remove the CHANNEL_SELECTION keyword using pyrap.tables, then

[2015-04-10 10:11] gijzelaerr opened #14 "mock the compiled modules so the doc generation of readthedocs works"
at the moment we auto generate the doc on readthe docs:

http://python-casacore.readthedocs.org/

Problem is that some autodoc logic does not work, since it requires the compiled python-casacore modules installed, something impossible to do on readthedocs. We can solve this by mocking the boost modules, but this is less straight forward than I was hoping.

[2015-04-10 10:11] gijzelaerr commented on #8
@gervandiepen has verified that his is working now

[2015-04-10 10:11] #8 closed

[2015-04-10 10:13] gijzelaerr commented on #2
this issue has been resolved.

[2015-04-10 10:13] #2 closed

[2015-04-10 10:14] gijzelaerr commented on #3
the python3 stuff has not yet been implemented in casacore2, so we have to postpone this until casacore 2.1 probably.

[2015-04-10 10:15] gijzelaerr commented on #4
this has been setup

http://python-casacore.readthedocs.org/

[2015-04-10 10:15] #4 closed

[2015-04-10 15:09] shulevski opened #15 "Open table fails on OSX 10.10.2"
Attempt to open a table fails with:

[code]

[2015-04-12 19:27] tammojan commented on #15
I can confirm that this is not a problem on linux (phew).

[2015-04-12 19:43] tammojan commented on #15
I'm guessing that the python argument ``table, str, dict, int`` should match ``_object*, casa::String, casa::Record, int``, so perhaps something wrong with the conversion from dict to record?

[2015-04-13 11:54] gervandiepen commented on #15
Are you sure the same libraries and a single version of them are used
everywhere, both during build and execution?
I know somebody built pyrap on OS-X, but boost-python had been built with a
different python version then pyrap causing this kind of problems.

Ger

On Fri, Apr 10, 2015 at 5:09 PM, shulevski <notifications@github.com> wrote:

[2015-04-13 12:41] shulevski commented on #15
Boost and boost-python were installed through homebrew. I get the following listings for them:

$ brew info boost-python
boost-python: stable 1.57.0, HEAD
http://www.boost.org
/usr/local/Cellar/boost-python/1.57.0 (5 files,  15M) *
  Built from source
From: https://github.com/Homebrew/homebrew/blob/master/Library/Formula/boost-python.rb
==> Dependencies
Required: boost ✔
==> Options
--c++11
	Build

[2015-04-13 14:09] gervandiepen commented on #15
python-casacore is not python3 ready yet, so indeed that might be a
problem. I've never tried this.

On Mon, Apr 13, 2015 at 2:41 PM, shulevski <notifications@github.com> wrote:

[2015-04-13 19:31] tammojan commented on #15
This issue is probably linked with this one: https://code.google.com/p/pyrap/issues/detail?id=20 (probably the one Ger is referring to). Unfortunately, the fix given was specific to the scons build system, which is not used in python-casacore.

My system has the same error, and I didn't do anything funny with Python. In particular, I didn't install a brew Python, so there should be only one Python

[2015-04-13 19:47] tammojan commented on #15
Not sure that the python version is the problem. The following snippet shows that libboost-python is linked against python 2.7:
[code]
And indeed, I'm using python 2.7:
[code]

[2015-04-13 21:50] shulevski commented on #15
I have the same output on my system as shown by tammojan above.

[2015-04-17 08:46] ludwigschwardt commented on #15
Hi @tammojan and @shulevski,

I've reproduced this on my Mavericks + Homebrew system.

I don't think it's a Python version issue. Both of you only have System Python and that's what's correctly linked. Mine's actually worse, as brew python and system python are mixed together - but that's another problem :-)

It's also not the same as the pyrap error I described before.

On the other hand, my curr

[2015-04-17 16:56] tammojan commented on #15
Hi @ludwigschwardt, if it is not the bug of your old pyrap ticket, then perhaps applying the patches won't work. But please do go ahead! I'll check as well with @gervandiepen if it is boost-python + llvm related.

[2015-05-10 19:52] tammojan commented on #15
@ludwigschwardt Any news on this?

[2015-05-27 01:57] twillis449 opened #17 "quanta example not working with python 2.7.6"
from the example at http://python-casacore.readthedocs.org/en/latest/casacore_quanta.html

from casacore import quanta
boltzmann = quanta.constants['k']
print 'the next line fails with python 2.7.6'
print 'Boltzmann constant is ', boltzmann
print 'the next line seems to work'
print ('Boltzmann constant is ', boltzmann)

gives

the next line fails with python 2.7.6
Boltzmann constant is  0.00000 J/

[2015-05-27 02:15] twillis449 commented on #17
Interestingly, the same errors occur if pyrap is used.

[2015-05-27 15:22] tammojan commented on #17
I can confirm this with Python 2.7.3.

[2015-06-01 15:39] tammojan commented on #11
Indeed the dtype is missing in some revisions of pyrap (I've seen it in release 0.3 , which I cannot find anywhere but on a user's computer).

However, in the current python-casacore the dtype is added in `msutil.py`:
[code]

[2015-06-01 15:55] tammojan commented on #11
Double checked this, it was fixed in the pyrap trunk after the latest (last?) pyrap release. Closing it here as invalid.

[2015-06-01 15:55] #11 closed

[2015-07-14 16:59] gijzelaerr commented on #10
This has been fixed.

[2015-07-14 16:59] gijzelaerr commented on #3
implemented https://github.com/casacore/python-casacore/commit/c989ccceec42c2be0882cbd6ef56828e21ede967

currently only works with casacore python3 branch https://github.com/casacore/casacore/pull/109

[2015-07-15 07:50] #10 closed

[2015-07-15 07:50] #3 closed

[2015-07-20 09:30] fe56 opened #18 "intel compiler error"
Hi,

i am trying to compile the master branch with the intel compiler
icc --version
icc (ICC) 15.0.3 20150407
Copyright (C) 1985-2015 Intel Corporation.  All rights reserved.

Has anyone tried this successfully?

Cheers,
Stefan

Getting the following error:

icc -fno-strict-aliasing -fPIC -O3 -xHost -ftz -fp-speculation=safe -fp-model source -DNDEBUG -g -O3 -Wall -Wstrict-prototypes -fPIC -I/usr/l

[2015-07-29 14:50] gijzelaerr opened #20 "error in casacore/tables/tablehelper.py +57"
[code]

[2015-07-30 07:38] gervandiepen commented on #20
Fixed the issue.

[2015-07-30 07:38] #20 closed

[2015-08-03 19:59] tammojan commented on #15
The following output from the compilation of `python-casacore` could perhaps be the culprit:
[code]
@gijzelaerr Do you have any idea why the architecture being linked is not x86_64?

[2015-08-04 08:15] tammojan commented on #15
Haha, found the bug! It turns out that casacore was linked to `boost_python-mt` (even though USE_THREADS was NO) and python-casacore was linked to `boost_python`. I'll think of a way to auto-detect this.

[2015-08-04 11:28] ludwigschwardt commented on #15
Of course it would be nice if casacore had no Python dependencies of its
own, leaving it all to python-casacore as the name indicates...

Just my three cents!

L.

On Tue, Aug 4, 2015 at 10:15 AM, Tammo Jan Dijkema <notifications@github.com

[2015-08-04 11:35] gijzelaerr commented on #15
we had this discussion before in the proximity of a coffee machine ;)

I agree it would be more pretty, but python-casacore is now pure setuptools, which is nice since it is now pipable. Finding boost with setuptools is not really pretty, cmake is much better at this. So in the end I think this is the least ugly solution.

So unless you know a pretty way of finding boost and configuring build depe

[2015-08-04 11:43] ludwigschwardt commented on #15
Oh yes, there was that - thanks for reminding me! I will have some more
thoughts on this.

On Tue, Aug 4, 2015 at 1:35 PM, Gijs Molenaar <notifications@github.com>
wrote:

[2015-08-04 12:31] tammojan commented on #15
@ludwigschwardt While we think of a proper fix, do you know how to do something like `if os == "osx" : boost_python='boost_python-md'` in `setup.py`?

[2015-08-04 13:22] gijzelaerr commented on #15
https://docs.python.org/2/library/platform.html

2015-08-04 14:31 GMT+02:00 Tammo Jan Dijkema <notifications@github.com>:

--
Gijs Molenaar
http://pythonic.nl

[2015-08-04 13:27] ludwigschwardt commented on #15
Indeed! My response time is currently slow due to a day old baby :-)

On Tuesday, 4 August 2015, Gijs Molenaar <notifications@github.com> wrote:

[2015-08-04 13:32] tammojan commented on #15
A valid excuse, I'd say. Congratulations! Am I the first to congratulate you in a github issue?

[2015-08-04 14:16] shulevski commented on #15
If you are the first, I am going to be the second :) Congrats! I am moving
house, but as soon as we have a patch, I will test the install.

On Tue, Aug 4, 2015 at 3:32 PM, Tammo Jan Dijkema <notifications@github.com>
wrote:

[2015-08-04 14:18] gijzelaerr commented on #15
congrats bru!

can't wait to see his/her first pull request.

[2015-08-04 14:35] ludwigschwardt commented on #15
Thanks guys! Gijs, I'll try to make sure that you don't wait more than a
decade... :-)

On Tuesday, 4 August 2015, Gijs Molenaar <notifications@github.com> wrote:

[2015-08-17 09:56] gmloose opened #25 "setup.py doesn't detect changes in casacore"
The interface of one of the functions in libcasa_casa had changed (from 'casa::ArrayBase::baseReform(casa::ArrayBase&, casa::IPosition const&) const' to
'casa::ArrayBase::baseReform(casa::ArrayBase&, casa::IPosition const&, bool) const'), but setup.py did not force a recompile of the sources using this changed file; it bluntly copied the so-files from the cache ('build/lib.linux-x86_64-2.7') into

[2015-08-19 20:52] o-smirnov opened #26 "pyrap.images not compatible with pyrap.tables (on 14.04)"
With the current package versions:

[code]

runs fine (given an MS named lala.MS), but this fails:

[code]

Versions are:

[code]

[2015-08-20 06:56] gervandiepen commented on #26
Such an error makes me think that there is something wrong your
LD_LIBRARY_PATH or so.
libcasa_python registers the converters between python and C++, but (unless
boost) it ensures they are not registered twice. Since you get this
message, I looks as if you use two libcasa_python.so versions. Are
pyrap.tables and pyrap.images you use linked to the same casacore?

On Wed, Aug 19, 2015 at 10:52 PM,

[2015-08-20 07:15] o-smirnov commented on #26
Aha! Running with python -v reveals where it goes wrong:

[code]

and later

[code]

So it looks like ``import pyrap.images`` pulls in a casacore2-linked library, while ``import pyrap.tables`` pulls in a casacore1-linked library.

[code]

So obviously the two packages are in conflict. I'm not sure what the idea was anyway? I thought ``import pyrap`` would use the casacore1 python interface all the

[2015-08-20 07:32] o-smirnov commented on #26
When I remove ``python-pyrap``, the above code starts working. Now, if ``python-casacore`` provides a fully backwards-compatible interface to casacore, what is the point of ``python-pyrap``? At the very least ``python-pyrap`` and ``python-casacore`` should be marked as mutually exclusive.

(And the packages that depend on ``python-pyrap`` should be marked as requiring ``python-pyrap`` OR ``python-

[2015-08-20 08:57] gijzelaerr commented on #26
ok this is the problem:

https://github.com/radio-astro-debian/python-casacore-debian/blob/trusty/control#L15

`Replaces` is the wrong way to do this, it sould be `Conflicts`. Will brew a new package to prevent this problem in the future.

[2015-08-20 08:57] #26 closed

[2015-08-31 15:14] gijzelaerr commented on #25
I think this is not easy to solve (or if you think it is please let me know), we should be more stricter about version checking and stabilising the ABI.

[2015-09-01 09:38] gmloose commented on #25
On 31/08/15 17:14, Gijs Molenaar wrote:

Hi Gijs,

Why not. If the installed casacore headers and libraries are newer than
the ones in the python-casacore build cache, then a rebuild should be
triggered. Shouldn't be too hard, or am I overlooking something here?

Cheers,
Marcel.

[2015-09-01 09:44] gijzelaerr commented on #17
This is caused by a difference in the implementation of str and representation of the object:

[code]

[2015-09-01 09:55] gijzelaerr commented on #25
I have no idea how to configure setuptools this way, if you know how to and it is trivial please issue a pull request.

[2015-09-01 10:01] tammojan commented on #17
Should this be fixed?

[2015-09-01 10:03] gijzelaerr commented on #17
it should, not sure how yet, not familiar with boost python.

I think it has something to do with this:
https://github.com/casacore/python-casacore/blob/master/casacore/quanta/quantity.py#L31

[2015-09-02 08:53] gmloose commented on #25
Well, I'm not a setuptools expert. It seems that distutils has some support for dependency tracking (http://docs.python.org/2/distutils/apiref.html#module-distutils.dep_util), but I have no idea how you'd have to add this to setup.py

[2015-10-27 13:21] gijzelaerr opened #27 "add auto upload to pypi on release"
can be done with travis.

[2015-11-18 14:07] o-smirnov opened #28 "need to include pyrap.tables.tableutil"
Not shipped in current package for some reason.

[2015-11-18 14:34] tammojan commented on #28
Try casacore.tables.tableutil
Internal references should be fixed in latest release.

[2015-11-23 08:25] gijzelaerr commented on #28
has this problem been solved?

[2015-11-23 08:26] gijzelaerr commented on #27
fixed in https://github.com/casacore/python-casacore/commit/b34dfe57662d15f2c3b0ac9600e5156921062cfd

[2015-11-23 08:26] #27 closed

[2015-11-23 09:46] tammojan commented on #15
Still not solved everywhere:
[code]

[2015-11-23 09:46] tammojan commented on #15
With casacore master and python-casacore master.

[2015-11-23 09:54] gijzelaerr commented on #15
that looks like a different issue though, and I've seen this before:

https://code.google.com/p/pyrap/issues/detail?id=20

[2015-11-23 09:58] tammojan commented on #15
Yuk, I was using the homebrew python instead of the system one, which is asking for problems.

Still, the message could be clearer..

Closing the issue for now.

[2015-11-23 09:58] #15 closed

[2015-12-17 20:02] tammojan commented on #28
yes.

[2015-12-17 20:02] #28 closed

[2015-12-18 08:15] tammojan opened #32 "Test python3 in travis"
As mentioned by @brentjens in #31, we should test python3 in travis. This needs python3 functionality in `libcasacore2-dev` package in `ppa:radio-astro/main`. I'm not sure that is the case yet, since the python3 stuff is currently only in casacore master.

[2015-12-18 09:02] gijzelaerr commented on #32
this is not the case yet, we need to first make a release.

[2015-12-18 09:10] brentjens commented on #32
Before a casacore release is made, it would help to ensure that no python2 boost libraries are linked with the casa_python3 lib when also building the casa_python lib. I found that if I do *not* build the casa_python lib, the cas_python3 lib is only linked with boost_python3, so then all is fine.

Current situation:
-DBUILD_PYTHON=YES  -DBUILD_PYTHON3=YES : boost_python AND boost_python3 linked to

[2015-12-18 09:15] tammojan commented on #32
@gijzelaerr is currently working on better python3 support, probably fixing this as well. To be continued later today.

[2015-12-18 09:16] brentjens commented on #32
Great!

[2015-12-18 11:53] gijzelaerr commented on #32
@brentjens can you verify this PR solves your problem?

https://github.com/casacore/casacore/pull/280

[2015-12-18 12:52] brentjens commented on #32
On 18-12-15 12:53, Gijs Molenaar wrote:

brentjens@brentjenslaptop:~/abs/casacore.git/build (git python3-fix)  - - - - - - - - - - - - - - - - - - - - - - - - -
[13:23:09]
$ cmake -DUSE_FFTW3=ON -DDATA_DIR=$HOME/Software/casa-measures/data -DUSE_OPENMP=ON -DUSE_HDF5=ON -DBUILD_PYTHON=ON
-DBUILD_PYTHON3=ON -DUSE_THREADS=ON -DBoost_NO_BOOST_CMAKE=True   ../

brentjens@brentjenslaptop:~/abs/casacore.

[2016-01-02 19:58] tammojan opened #34 "Build within anaconda on OSX 10.11"
I solved this issue, but will record it here in the hope that it will save someone else the hours that I wasted on it.
I wanted to run python-casacore within an ipython on OSX, and chose to use Anaconda for ipython (instead of for example brew). Anaconda is a flexible system for switching python environments.

To install python-casacore in a conda package, I used (with a lot of stuff that is only

[2016-01-02 19:58] #34 closed

[2016-01-02 20:00] tammojan commented on #34
The solution came from Juanlu001/fenics-recipes#16

[2016-01-03 12:09] gijzelaerr commented on #34
maybe we should try to make a anaconda package for casacore and python-casacore. I I already tried, but got distracted by other things. If I remember correctly it took days before their buildfarm started building the packages. Also it wasn't clear to me how to properly manage dependencies.

https://anaconda.org/gijzelaerr/casacore

[2016-01-20 13:36] HannoSpreeuw opened #35 "from casacore import tables problem"
I did two installs, on Ubuntu 14.04.2 LTS - VirtualBox guest, with sudo apt-get install python-casacore etc. - and on Fedora 22, using casacore-2.0.3 and python-casacore-2.1.0:
as user I did:
python setup.py build_ext -I/usr/local/include/casacore/ -I/usr/include/cfitsio
and as root:
python setup.py install

However, the Fedora install showed problems at a later stage:
[hspreeuw@localhost ~]$ pyth

[2016-01-20 13:48] tammojan commented on #35
The `libcasa_tables.so.2` is a file that should be installed when installing casacore. How and where did you install install casacore? If you can find the file manually (perhaps in `/usr/local/lib` or some other library directory) you can add that path to your $LD_LIBRARY_PATH before running python.

If this works, you can also recompile python-casacore with an rpath, but first let's try to find t

[2016-01-20 14:23] HannoSpreeuw commented on #35
This file is in /usr/local/lib.
python setup.py build_ext --force -I/usr/local/include/casacore/ -I/usr/include/cfitsio -R/usr/local/lib
worked, thanks!

[2016-01-20 14:34] #35 closed

[2016-01-21 09:38] HannoSpreeuw opened #36 "RuntimeError: Table DataManager error: Data Manager class LofarStMan is not registered"
This occurs with both my python-casacore installs, a Fedora 22 "manual" install - using casacore-2.0.3 and python-casacore-2.1.0 - and an Ubuntu 14.04 automatic install.

[hspreeuw@localhost MS]$ python -c "import casacore.tables as pt; t = pt.table('L64371_SAP000_SB000_uv.MS')"

Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/usr/lib64/python2.7/site-packages/py

[2016-01-21 10:27] tammojan commented on #36
LofarStMan is part of the Lofar software, you should install it separately.

[2016-01-21 10:30] tammojan commented on #36
For an idea on installing the LOFAR software, have a look at e.g. https://github.com/lofar-astron/lofar-deploy/blob/master/src/common/install-lofar.sh . To install only LofarStMan, use `-DBUILD_PACKAGES=LofarStMan` at CMake time (so you don't need a lot of the dependencies).

[2016-01-21 10:41] HannoSpreeuw commented on #36
Thanks, I'll try. The problem is that googling this error message gets you here:
ftp://ftp.strw.leidenuniv.nl/pub/tasse/lofar_imaging_cookbook_v11.pdf
It says:
Troubleshooting
. If you receive the following error then probably the daily build is broken and you should revert to a previous build with "use LofIm <day>".

That pointed me in the wrong direction.

[2016-01-21 10:42] tammojan commented on #36
Ah yes, we should probably put in the cookbook that that is specific to an installation on our cluster. Although changing it in the cookbook will not fix the out of date release on that page...

[2016-01-21 11:43] tammojan opened #37 "Build python-casacore if only some casacore packages are added"

[2016-01-21 14:53] HannoSpreeuw commented on #36
I installed LofarStMan, somewhat following the instructions here
http://www.lofar.org/operations/doku.php?id=public:user_software:ubuntu_14_4
under "Download and Build the LOFAR Software":
/opt/soft/lofar-stuff/BuildDir/lofarsoft/build/gnu_opt$ sudo cmake -DBUILD_TESTING=NO -DBUILD_SHARED_LIBS=ON -DUSE_OPENMP=ON -DBUILD_PACKAGES="LofarStMan" -DCMAKE_INSTALL_PREFIX:PATH=/opt/soft/lofar-stuff   ../.

[2016-01-21 15:10] tammojan commented on #36
I think including /opt/soft/lofar-stuff/lib in your LD_LIBRARY path should do the trick.

[2016-01-21 16:04] HannoSpreeuw commented on #36
Thanks, fixed for my Ubuntu 14.04 VirtualBox guest.
sudo apt-get install lofar
export LD_LIBRARY_PATH=/usr/lib64
python -c "import casacore.tables as pt; t = pt.table('L64371_SAP000_SB000_uv.MS')"
----->
Successful readonly open of default-locked table L64371_SAP000_SB000_uv.MS: 23 columns, 158841 rows

[2016-01-21 16:12] tammojan commented on #36
Great. And, as a bonus, you get the lofar applications, like DPPP :)

[2016-01-21 16:12] #36 closed

[2016-01-27 15:36] alxames commented on #25
This just bit me too.

[2016-02-03 09:48] cyriltasse opened #38 "Probable bug: Zero-valued DATA for large MS depending on how you read"
With python-casacore 2.1.0 (see bellow for the linking)

Description: The data read at once gives a numpy array that has zeros values after a certain row. That does not happen if the data is not read at once (so it's not the data that contains zeros). This is done on a system with 256Gb of RAM, so that's enough to host the full data array.

`
# get the full data as an array

d=t.getcol("DATA")
pri

[2016-02-03 10:10] tammojan commented on #38
Thanks for the detailed report. I have tried to reproduce this (also with a large dataset, 5.6G), but the two methods yield the same result for me. Could it be that you ran out of memory?

[2016-02-03 10:14] cyriltasse commented on #38
@tammojan thanks for the quick answer. The dataset is bigger (190Gb - DATA+CORRECTED_DATA), basically an uncompressed single LOFAR LBA subband (64 channels / 1s bin, 7 hours integration). The system has 256 Gb RAM, so enough to host the array.

[2016-02-03 10:23] cyriltasse commented on #38
To be sure it wasn't connected to a type problem, I've tested replacing the raw data values which have levels between 10^6 and 10^8 by ones. Same behaviour...

[2016-02-03 10:28] tammojan commented on #38
Can you reproduce it with a smaller array (say half of your data), to make sure that it's not a memory problem?

[2016-02-03 10:42] cyriltasse commented on #38
# On a smaller MS
I've cut the MS to 42% of its original size and now I get a perfect match! But does that mean this is a memory problem? I'm not completely convinced.

![figure_1](https://cloud.githubusercontent.com/assets/6523227/12779792/eaf841fe-ca61-11e5-9046-8aa3b6e28397.png)

# On the original MS
During loading the DATA array, the memory consumption peaks at 82 Gb (out of 256 Gb)

[2016-02-03 10:47] cyriltasse commented on #38
# Original MS
d=t.getcol("DATA")

This is the memory consumption as a function of time (green is allocated to the process, gray is cache). It seems to have a plateau.

![figure_1](https://cloud.githubusercontent.com/assets/6523227/12780027/7bc5b904-ca63-11e5-9921-5166c1491d0b.png)

[2016-02-03 10:49] tammojan commented on #38
I think that numpy requires contiguous memory, so even if you have enough memory available, it may not be contiguous. I agree that giving zeroes in case of (possibly) memory problems isn't desirable. Some kind of other error would be more acceptable.

Until this is solved, you just convinced yourself that using slicing from disk is safer for arrays larger than say 50Gb.

[2016-02-03 10:50] cyriltasse commented on #38
# On the smaller MS where no missbehaviour is observed
![figure_1](https://cloud.githubusercontent.com/assets/6523227/12780142/ff152e70-ca63-11e5-849a-eb05e4c4abce.png)

[2016-02-03 10:56] cyriltasse commented on #38
Somehow part of the allocated array gets deallocated. See the difference between the two previous plots at the end of the read. How can that be?

[2016-02-03 10:59] tammojan commented on #38
Perhaps the deallocation happens at the end of the program, which may be negligible in the 'small' example?

[2016-02-03 11:03] cyriltasse commented on #38
My eye sees that the dip behind the bump at 2 and 1 min. *does* and *does not* happen respectively.

[2016-02-03 11:05] cyriltasse commented on #38
... and that the size of the dip that *does happen* in the first case corresponds to the quantity of zero (missing then) data in the first case...

[2016-02-03 11:11] tammojan commented on #38
Agreed. I'll have to ask @gervandiepen to comment on that. Thanks for your detailed report, and I hope you have enough input to at least continue your work (using the slicer from disk).

[2016-02-03 11:15] cyriltasse commented on #38
@tammojan Thanks for looking at that issue. It's actually quite blocking for me. I'd need to modify the architecture of my software to use data chunks compatible with what casacore can or cannot do which is a bit unclear now. I'd prefer a bug fix of course if possible.

[2016-02-15 14:09] cyriltasse commented on #38
Any news from @gervandiepen ?

[2016-02-16 06:58] gervandiepen commented on #38
Hi Cyril,

I've taken a look, but cannot pinpoint the problem.
The coming weeks I have little time because I have to finish SDP documents
and have a week leave.

I'll take a look again after March 5th.
Ger

On Mon, Feb 15, 2016 at 3:09 PM, cyriltasse <notifications@github.com>
wrote:

[2016-02-16 07:59] cyriltasse commented on #38
Hey Ger,

Thanks very much, I think you're the only person in the observable universe that can have an idea on that weird thing. CountedPointer or so? Can you reproduce? If not let me know,

Cyril

[2016-02-16 07:59] tammojan commented on #38
Hi @cyriltasse ,

Perhaps, as a workaround, you could try something like:

[code]

This shouldn't affect how you work with your data too much does it?

I'm not sure this works, because the array `fulldata` will again be very large, maybe too large. But if it is, this piece of code could help show whether the error is at the numpy side or at the casacore side.

[2016-02-16 08:04] cyriltasse commented on #38
@tammojan yep something like that should probably be all right. I'll try when that gets critical again. Although probably not very efficient in terms of I/O... But thanks for thinking of it!

[2016-02-16 08:38] tammojan commented on #38
@cyriltasse I updated the code a bit, even in these 7 lines I made a mistake.. You can make the I/O more efficient by setting `chunksize` very large (at the extreme to something as large as the whole MS, but then I'm pretty sure you'll see zeros again).

[2016-02-16 12:17] tammojan commented on #38
Hi @cyriltasse ,

You're probably looking for the following function (thanks @gervandiepen ):

[code]

[2016-02-16 12:30] cyriltasse commented on #38
Ho nice I'll have a look!

[2016-02-16 13:26] tammojan opened #40 "Docs on readthedocs are wrong"
The docs on readthedocs only contain the static `.rst` files, not the auto generated documentation. @gijzelaerr , how do I access the settings on readthedocs? Are you the owner of this project?

[2016-02-16 13:33] tammojan commented on #40
Never mind, I have admin access to the readthedocs repo now. It tries to install python-casacore and fails to find boost-python. From the logs:

[code]

I'll see if I can fix this easily (it shouldn't need to build python-casacore in order to make the docs).

[2016-02-16 13:36] tammojan commented on #40
Hm actually @gijzelaerr it seems you're the only one with admin access to the python-casacore readthedocs page. Can you add me?

[2016-02-16 13:43] gijzelaerr commented on #40
this is sort of a duplicate of

https://github.com/casacore/python-casacore/issues/14

[2016-02-16 13:45] tammojan commented on #40
Agreed. I hadn't realized that #14 means that the documentation is not built (not the useful part).

[2016-02-16 14:42] tammojan commented on #40
Duplicate of #14

[2016-02-16 14:42] #40 closed

[2016-02-16 14:46] tammojan opened #41 "Move docs to github"
Readthedocs has troubles building python-casacore. We should probably have travis make the documentation and push it to github. Could be done with something like https://github.com/Syntaf/travis-sphinx or https://github.com/teracyhq/sphinx-deployment

[2016-02-17 10:35] tammojan commented on #38
The docs on readthedocs weren't updated properly, so I moved them to github instead. The documentation for `getcolnp` is now at
http://casacore.github.io/python-casacore/casacore_tables.html#casacore.tables.table.getcolnp
(in case you had troubles with the markdown...)

[2016-02-17 16:16] tammojan commented on #25
A trick found in https://github.com/qsnake/scipy/blob/master/src/scipy/lib/blas/setup.py is to create a dummy source file if an external file has changed. But I don't know how to find the absolute path of the casacore includes from setup.py...

[2016-02-23 13:02] #25 closed

[2016-02-23 13:50] gijzelaerr commented on #37
so what does this mean?

[2016-02-26 09:18] gijzelaerr opened #45 "include requirements (numpy, setuptools) in setup.py"

[2016-03-09 14:53] sabourke opened #47 "Opening a list of subtables with :: notation does not work"
Specifying a list of subtables with :: notation for concatenation does not work.
Eg:
vtab = table(["a.ms::ANTENNA", "b.ms::ANTENNA"])
does not work.

vtab = table(["a.ms/ANTENNA", "b.ms/ANTENNA"])
works fine.

[2016-03-09 14:56] sabourke opened #48 "tables.tablecopy() ignores many of its arguments"
tablecopy doesn't pass dminfo, endian, memorytable, copynorows in its call to table.copy()

[2016-03-10 07:49] gervandiepen commented on #48
What exactly did you try?

I tried
   t3=t2.copy('c.ms
',dminfo={'a':{'COLUMNS':['TIME'],'TYPE':'StandardStMan','NAME':'tmp'}})
which worked well.

I looked at the code and it looks fine. However, I noticed in TableProxy.cc
that if only copynorows=True is given, it is not taken into account. I'll
fix that.

On Wed, Mar 9, 2016 at 3:56 PM, sabourke <notifications@github.com> wrote:

[2016-03-10 07:58] gervandiepen commented on #48
I was mistaken. copynorows is taken into account by TableProxy.cc.

But now I understand.
The culprit is tablecopy in tableutil.py, not table.copy. I'll fix it.

Ger

On Thu, Mar 10, 2016 at 8:49 AM, Ger van Diepen <gervandiepen@gmail.com>
wrote:

[2016-03-10 08:39] gervandiepen commented on #17
It has to do with function to_string which uses an incorrect format for such a small value.
   '%0.5f' % 1e-23
also gives 0.000
Either the default format of to_string should be changed to %0.5g or __str__ should be outcommented.
I think I prefer the first option. What do you think?

[2016-03-10 08:51] #48 closed

[2016-03-10 10:32] gervandiepen commented on #47
This basically a problem in Casacore's TableProxy.cc, for which I'll file an issue (and fix it).

[2016-03-11 11:57] gijzelaerr opened #50 "Make test suite python3 compatible"

[2016-03-11 12:08] anchitjain1234 opened #51 "Tests Failing"
Tests fail when tested with ``master`` branch of ``casacore``.

Full trace:
[code]

[2016-03-11 13:01] anchitjain1234 commented on #6
1. Added tests for gaussian1d

[2016-03-29 12:11] gijzelaerr opened #53 "Compilation fails with casacore 2.1.0"
[code]

[2016-03-29 12:13] tammojan commented on #53
Yuk. I'll have a look.

[2016-03-29 12:17] gijzelaerr commented on #53
https://travis-ci.org/casacore/python-casacore/jobs/119223304

[2016-03-29 13:13] gijzelaerr opened #54 "OSX travis time out due to casacore bottle install triggers source build"
I've made a bottle for casacore, but when I install it brew installs casacore from source, resulting in a timeout of the build. not sure why this is happening, but I think this i not a problem with python-casacore or the travis scripts.

[2016-03-29 14:11] #53 closed

[2016-03-31 07:56] SpheMakh opened #57 "pyrap images crashes when image data is float64"
I get this error when the image data is float64
[code]
It goes away after after I typecast the data as float32

[2016-03-31 09:18] gijzelaerr opened #59 "Python 3.5/ubuntu test suit fails on travis"
Probably because it is linked against system the system boost python which is linked against the system python 3.4, while travis manually installs a python 3.5.

No easy fix here I think...

[2016-03-31 09:40] gijzelaerr commented on #50
since this commit the test suite runs correctly with python3
https://github.com/casacore/python-casacore/commit/69fdb40f6d5ecfbc65fc4a3f6e7c1705695330e0

[2016-03-31 09:40] #50 closed

[2016-03-31 09:42] gijzelaerr commented on #47
this issue has been resolved in casacore and is release in 2.1.0

[2016-03-31 09:42] #47 closed

[2016-03-31 09:45] #45 closed

[2016-03-31 09:47] gijzelaerr commented on #32
we now test for python3.4 on ubuntu https://github.com/casacore/python-casacore/commit/52a45c119cce226f90a616c39174a56be52cb171

[2016-03-31 09:47] #32 closed

[2016-03-31 09:48] gijzelaerr opened #60 "add coverage reporting using travis and coveralls"
https://coveralls.io

[2016-03-31 09:49] gijzelaerr commented on #51
This has been fixed in the casacore master branch and is included in the 2.1.0 release of casacore.

[2016-03-31 09:49] #51 closed

[2016-03-31 10:41] sjperkins opened #61 "Expose MeasurementSet functionality"
It would be helpful if requiredTableDesc was exposed in the python wrappers so that access to the basic table configuration was available for creating new tables.

Had a quick go at adding it in pytables.cc but requiredTableDesc doesn't live on TableProxy (looks like its a static method on MeasurementSet).

[2016-03-31 10:54] gervandiepen commented on #61
pytables and TableProxy form a generic casacore table interface, while
requiredTableDesc is a MeasurementSet-specific function. However, I can see
it is useful. I'll think about it. Maybe a python interface to MS
functionality is needed.

On Thu, Mar 31, 2016 at 12:41 PM, Simon Perkins <notifications@github.com>
wrote:

[2016-03-31 11:04] sjperkins commented on #61
Hypothetically speaking, would such an interface also have access to methods such as `createDefaultSubtables`?

[2016-03-31 11:05] gervandiepen commented on #57
I assume you have used a FITS file as input.
Casacore issue github.com/casacore/casacore/issues/292 has solved this issue, but is not available in python until a new release of casacore.python is done.

[2016-03-31 11:08] gervandiepen commented on #61
Yes, it would.

On Thu, Mar 31, 2016 at 1:04 PM, Simon Perkins <notifications@github.com>
wrote:

[2016-03-31 11:33] tammojan commented on #57
We released python-casacore 2.1.3 this afternoon.

[2016-03-31 11:45] gijzelaerr opened #62 "Update Pypi with new README.rst"
since it looks like 💩 at the moment on pypi

https://pypi.python.org/pypi/python-casacore/2.1.2

[2016-03-31 12:33] gijzelaerr commented on #57
@gervandiepen if it was solved in casacore why do you need a new release for python-casacore?

[2016-04-01 07:38] SpheMakh commented on #57
I'm closing this since it's a duplicate.

[2016-04-01 07:38] #57 closed

[2016-04-01 10:09] gijzelaerr commented on #57
duplicate of what?

[2016-04-01 10:16] SpheMakh commented on #57
Its the same issue as github.com/casacore/casacore/issues/292

[2016-04-01 17:26] gervandiepen commented on #57
You're right. Building (against) a new casacore is sufficient.

On Fri, Apr 1, 2016 at 12:16 PM, Sphesihle Makhathini <
notifications@github.com> wrote:

[2016-04-08 13:54] gijzelaerr opened #64 "argparse not included in python2.6"
setup.py uses argparse which is not included in python2.6. We can work arround this by adding the argparse module as a dependency, which should not harm a python 2.7 or 3+ install.

[2016-04-08 14:10] #64 closed

[2016-07-11 12:47] hsuyeep opened #67 "set_coordinate() NameError"
I am trying to update a `spectralcoordinate` within a `coordinatesystem` object of `casacore.images.coordinates` via the `set_coordinate()` function. However, I get a `NameError`, seems like a typo in the code.

I extract the  `spectralcoordinate` from an image opened in python-casacore:
[code]
python-casacore==2.1.2

[2016-07-11 17:49] tammojan commented on #67
Thanks. I think it should work now. However, in your example, the line with `set_restfrequency` already crashed for me, I don't think that method exists?

[2016-07-12 09:51] gijzelaerr commented on #67
@hsuyeep can you verify if this fixes your problem?  If so I can issue a new release for you.

[2016-07-12 10:56] hsuyeep commented on #67
I just installed the latest python-casacore from github, and the set_coordinate () goes through. TJ, sorry for the confusion with `set_restfrequency`, you are right, that function does not exist. But then the question is how is one expected to actually set the restfrequency in an existing spectralcoordinate type?

[2016-07-12 11:48] tammojan opened #68 "Set restfrequency in images"
In #67 , @hsuyeep wrote:

I don't know. A method `set_restfrequency` in `images/coordinates.py` would be nice I suppose.

[2016-07-12 12:18] #68 closed

[2016-08-18 12:46] gijzelaerr opened #69 "python-casacore segfaults on faulty image data and calling tofits()"
Sure it should not process faulty data, but it should not crash or segfault. calling `.getdata()` doesnt't crash.

[code]

[2016-08-18 12:47] gijzelaerr commented on #69
link to example bad casacore image https://www.dropbox.com/s/841zwd32ajfvimv/error.tgz?dl=0

[2016-10-12 16:40] brentjens commented on #61
Exposing the MS functionality would help greatly in e.g. writing an MS filler for LOFAR station visibility data too.

[2016-11-18 16:35] AntoniaR opened #70 "python-casacore ephemeris information"
How can I identify which ephemeris data python-casacore uses, how can I force it to use a specific version and how can I update it? This information is not covered in the python-casacore documentation.

Basically, I am having an issue with the ephemeris being out of date in casacore and I am trying to identify if this is because the ephemeris data needs updating or if the update is not working. Se

[2016-11-18 20:10] tammojan commented on #70
If you can get into the virtual machine, and the casacore binaries are also installed somewhere, you could call the casacore binary file `findmeastable`. This will print the path of the data table to be used.

To override the system setting of the data path, you can make a file `.casarc` in your home directory, with the line
[code]

Where the data is a directory containing the two subdirectories `

[2016-11-21 09:59] AntoniaR commented on #70
Thank you for this! It was really helpful in testing the code. I have the most recent version of the measurements table from ASTRON, then followed your instructions to force casacore to use this data and confirmed it worked using the `findmeastable` command.

Unfortunately this did not solve the problem, therefore I have been able to confirm that the measures data at ASTRON is out of date. Do you

[2016-11-21 10:02] tammojan commented on #70
Please contact softwaresupport@astron.nl

[2017-02-13 08:33] sjperkins opened #73 "pyrap.measures not correctly linked with casacore 2.2.0 in python-casacore 2.1.2"
# casacore 2.2.0-2kern1 installed:

[code]

# Create and activate a virtual environment

[code]

# Try to import `pyrap.measures`

[code]

[2017-02-13 09:16] sjperkins commented on #73
This was caused by an obsolete pip cache entry

[2017-02-13 09:16] #73 closed

[2017-03-03 19:01] mohanagr commented on #6
Hello! I'd like to contribute more to the testing and coverage part of this project. I have decent python3 experience and have done some testing.
Shouldn't we refactor the tests with `pytest`? it's much more extensive and flexible.

[2017-03-03 19:07] #70 closed

[2017-03-03 19:09] tammojan commented on #6
Moving to `pytest` is definitely an option. Is that also capable of running the c++-tests?

[2017-03-03 19:48] tammojan commented on #6
You're welcome at gitter: https://gitter.im/casacore/python-casacore

[2017-03-10 09:23] shibasisp opened #74 "A small typo-error in doc"
In [this](https://casacore.github.io/python-casacore/casacore_functionals.html#introduction) page,
[code]
should be
[code]

[2017-03-10 09:31] #74 closed

[2017-03-13 12:05] gijzelaerr commented on #59
we could switch to docker

[2017-03-21 14:21] carlosperezepfl opened #77 "pip install python-casacore fails"
I have the same issue from the sources.

  In file included from /usr/local/include/casacore/fits/FITS/hdu.h:33:0,
                     from /usr/local/include/casacore/images/Images/FITS2Image.tcc:38,
                     from /usr/local/include/casacore/images/Images/FITSImage.h:329,
                     from src/images.cc:36:
    /usr/local/include/casacore/fits/FITS/blockio.h:35:50: fatal erro

[2017-03-22 07:00] gijzelaerr commented on #77
looks like you didn't install cfitsio ?

[2017-03-22 07:23] carlosperezepfl commented on #77
@gijzelaerr  It's installed

rpm -aq|grep cfitsio
cfitsio-docs-3.370-1.el7.noarch
cfitsio-devel-3.370-1.el7.x86_64
cfitsio-static-3.370-1.el7.x86_64
cfitsio-3.370-1.el7.x86_64

[2017-03-22 07:28] gijzelaerr commented on #77
does the cfitsio-devel package contain a `fitsio.h` file?

2017-03-22 9:23 GMT+02:00 Carlos Perez <notifications@github.com>:

--
Gijs Molenaar
http://pythonic.nl

[2017-03-22 07:29] gijzelaerr commented on #77
does the cfitsio-devel package contain a `fitsio.h` file?

[2017-03-22 07:32] carlosperezepfl commented on #77
The file is in the directories :
/usr/local/include/casacore/fits/FITS/fitsio.h
/usr/include/cfitsio/fitsio.h

rpm -q --whatprovides /usr/include/cfitsio/fitsio.h
cfitsio-devel-3.370-1.el7.x86_64

[2017-03-22 07:54] gijzelaerr commented on #77
looks like centos decided to install fitsio.h in a subdirectory. You can add `/usr/include/cfitsio` to the include search path or modify the source to prepent cfitsio to the include statement. Check out the help page on how to add a folder to the include search path: `$ python ./setup.py build_ext -h`

[2017-03-22 08:13] carlosperezepfl commented on #77
Manually it works.
./setup.py build_ext --include-dirs /usr/include/cfitsio
A solution using PIP ?

[2017-03-22 08:22] gijzelaerr commented on #77
I think you can find that on google. It would be an option to check for the distribution type and set the include path specifically for centos, but for now that is not going to happen. Feel free to issue a PR if you found a proper solution. closing this issue. enjoy python-casacore.

[2017-03-22 08:22] #77 closed

[2017-03-27 08:45] tammojan opened #79 "Check version of casacore during install"
Python-casacore may require some recent version of casacore, as we encountered in #76 and #72.

I think it's fine to enforce such a dependency (otherwise python-casacore will never be able to wrap or use recent functionality in casacore), but we need to check during install (`setup.py`) whether the available casacore is recent enough. I'm not sure how to do this though..

[2017-03-27 10:00] sjperkins commented on #79
It looks like the [version](https://github.com/casacore/casacore/blob/f4dc1c36287c766796ce3375cebdfc8af797a388/casa/version.cc) is baked into the shared library?  If so, it is probably possible to uses ctypes (IIRC this is a standard python package) before the call to `setup` to find out the CASA version.

[2017-03-27 20:40] tammojan commented on #79
I fixed this in  687be41 . However, the fix required a change in casacore itself, raising the minimum version to a yet unreleased version of casacore. So I won't make a pull request just yet.

[2017-04-07 11:16] sjperkins commented on #14
Perhaps @shibasisp might like to have a go at this?

I recently did something similar for Montblanc. Here is the relevant [commit range](https://github.com/ska-sa/montblanc/commits/rime-tf?author=sjperkins&since=2017-04-05T22:00:00Z&until=2017-04-07T22:00:00Z)

[2017-04-07 20:05] shibasisp commented on #14
Hey @sjperkins ! I would love to go with this! Thanks for the commit range for reference.

[2017-04-10 08:33] tammojan commented on #14
Actually this is not necessary anymore for producing the docs, since that is now done by travis. See #80.

[2017-04-11 18:24] shibasisp commented on #62
How this can be done? I think it's already written in rst.

[2017-04-11 18:27] tammojan commented on #62
It is indeed currently already in RST. I changed the ticket name to reflect that somehow we need to update pip.

[2017-04-12 08:13] tammojan opened #82 ".tofits() looses coordinates on some systems?"
Continued from lofar-astron/factor#191

On some systems, calling `.tofits()` seems to lose the coordinates, as reported by @botteon

[2017-04-12 08:18] botteon commented on #82
Let me know if you need to know which versions (of which software) we have installed in Bologna. Thanks.

[2017-04-12 08:19] tammojan commented on #82
Could you report on your versions of `wcslib`, `cfitsio` and `python-casacore` ?

[2017-04-12 08:31] botteon commented on #82
wcslib 5.15
cfitsio 3.0
python-casacore 2.1.0

[2017-04-12 09:46] tammojan commented on #82
While I'm preparing a machine with these versions, could you check if the following reproduces the problem:
[code]

[2017-04-12 10:01] botteon commented on #82
img2.fits has the coordinates, here the full output

[code]

[2017-04-12 11:17] tammojan commented on #82
Can you provide exact commands that show your error? How do you check that there are no coordinates in the output fits?

I've tried the following, which does not reproduce the error for me (on a system with ubuntu 16.04, wcslib 5.15):
[code]
This shows that there are coordinates in the output.
[code]

[2017-04-12 11:39] botteon commented on #82
img2.fits has the coordinates.

I see that the output do not have the coordinates by opening the images with ds9 or casaviewer.

I tried to run

`make_clean_mask.py -p 8 -a False -i 7 -r '(120,30)' -d float -b 0.4 -t True -o True -f fits L230423_SB000_uv.dppp_1248F906Et_121MHz.pre-cal_chunk8_1248FDB71t_0g.wsclean_image11-image.fits out.fits`

and the output DOES NOT have coordinate. If I try to op

[2017-04-12 17:35] tammojan commented on #82
I must say I'm confused now. On your system:
- In the script `make_clean_mask.py`, just before line 608, the coordinates are there, when you call `.tofits`, the coordinates are gone. This points to a bug in `.tofits`.
- If you call `.tofits` in isolation, everything is fine.

Since I can not reproduce the error, I'm at a loss. Could you try to make an isolated example of what goes wrong? For examp

[2017-04-13 13:58] botteon commented on #82
We understood the problem and why you can't reproduce it.

The fits file can be produced with via `tofits` (of python-casacore) or via `export_fits` (of pyBDSM) depending if the there is or there is not the `-b`. We compared the headers produced by the two and the are quite different. Especially the fits produced via `tofits` has the comma as separator of the decimals while the one produce by `exp

[2017-04-13 19:48] tammojan commented on #82
Well found. I can reproduce the error now on a clean ubuntu 16.04 by installing Italian locale (`apt-get install language-pack-it`) and the following snippet:
[code]

Having a brief look at the code, the error seems to be somewhere in https://github.com/casacore/casacore/blob/master/images/Images/ImageFITSConverter.tcc . So it seems this ticket should move again, now to casacore.

[2017-04-13 20:17] tammojan commented on #82
Continued in casacore/casacore#586

[2017-04-13 20:17] #82 closed

[2017-05-07 09:42] shibasisp commented on #62
Looks like there was a small indentation error in the README.rst, because of which PyPI wasn't able to render the rST into HTML. I have pushed a commit to my fork. But I don't know how can I modify the README.rst of tag v2.1.2

[2017-05-07 09:56] tammojan commented on #62
You cannot change anything in a tag, because it has been released. We should look at releasing another version soon. Or create a test tag just for this.

[2017-05-07 09:59] shibasisp commented on #62
should I send a PR so that it will render correctly in the next release?

[2017-05-07 10:30] tammojan commented on #62
Yes please.

[2017-05-07 11:13] #62 closed

[2017-05-11 14:54] caseyjlaw opened #85 "build instructions on RHEL6"
I'd like to use python-casacore at the AOC in Socorro. They support a standard OS of RHEL6, so I'll need to build python-casacore myself.
In my first attempt, I use an include directory for casacore, wcs, fitsio and it builds with setuptools. However, importing measures or quanta gives an error:
[code]

Are you aware of anyone building this at the AOC or on RHEL6?

[2017-05-11 15:10] tammojan commented on #85
I'm not aware of people using python-casacore in Socorro (although they are of course much welcome to).

You can at least work around the import error by setting your `$LD_LIBRARY_PATH` environment variable to contain the directory with `_measures.so` (etc.).

[2017-05-16 11:07] shibasisp opened #87 "Unexpected behaviour in casacore.util.substitute.py"
According to the casacore [docs](http://casacore.github.io/python-casacore/casacore_util.html), I should get
[code]
But I am getting
[code]

[2017-05-16 11:13] shibasisp commented on #87
I think, `substitute` isn't able to parse parenthesis.

[2017-05-16 12:36] gervandiepen commented on #87
Hi Shibasish,
Thanks for finding this. I'll take a look at it.
Ger

On Tue, May 16, 2017 at 1:07 PM, Shibasish Patel <notifications@github.com>
wrote:

[2017-05-18 08:55] gervandiepen commented on #60
Solved by PR #84

[2017-05-18 08:55] #60 closed

[2017-05-18 09:45] #87 closed

[2017-06-01 06:57] bhazelton commented on #34
I just stumbled across this while trying to get casacore-python to work for me. There is a conda-forge package for casacore (https://anaconda.org/conda-forge/casacore). I haven't yet been able to get the pip installed casacore-python to work with the conda-forge casacore package, but I'll try something along the lines of what tammojan did.

[2017-06-01 07:32] tammojan commented on #34
See also casacore/casacore#596

[2017-06-01 08:03] tammojan opened #91 "Update travis with casacore 2.3.0"
Travis now fails because it does not have 2.3.0. Getting a binary casacore 2.3.0 to travis will require a new ubuntu package for casacore, as documented at https://github.com/kernsuite/packaging/wiki/How-to-do-KERN-packaging

Specifically, we should create a pull request in https://github.com/kernsuite-debian/casacore to do this. I'll pick this up later.

[2017-06-01 08:05] tammojan opened #92 "Move to pybind11?"
@sjperkins suggested to use pybind11 as an alternative to boost-python. As pybind11 is header-only, it will save some installation headaches.

We should carefully investigate the pros and cons of moving to pybind11. Let's use this ticket for that discussion.

[2017-06-01 08:06] tammojan commented on #92
First question: does this also require that the python bindings in casacore itself move to pybind?

Other question: are there other solutions that we should consider?

[2017-06-01 08:58] bmerry commented on #92
I don't know what level of integration there is between the Python bindings in casacore itself and those in python-casacore, but if there is any interaction they would almost certainly need to move to pybind11 together.

Having moved a few packages to pybind11, I think it might be worth waiting for the next version. I've run into quite a few limitations and bugs (most of which have either been fix

[2017-06-01 09:10] tammojan commented on #92
Waiting for a new version of pybind is an option, it would anyhow be something for casacore v3.0 at the earliest, since that will probably require C++11 (nobody objected in casacore/casacore#580 so far).

[2017-06-04 15:02] bhazelton commented on #34
Just to follow up on this, my collaborator, Peter Williams, just made a python-casacore conda-forge package that seems to work beautifully. It's available at https://anaconda.org/conda-forge/python-casacore.

[2017-06-04 18:07] tammojan commented on #91
Probably easier to update the conda package for casacore (https://github.com/conda-forge/casacore-feedstock) and use conda to install the casacore dependency in travis.

[2017-06-04 18:33] tammojan commented on #34
Thanks for letting us know, this looks very promising. I tested it on MacOS and it works like a charm.

[2017-06-04 20:19] shibasisp opened #93 "datatype `D[]` in the ASCII file gives a Runtime error when it is called from `tablefromascii()` method."
I did this
[code]
It created an ASCII file containing:
[code]
But when I tried to build a table from the above ASCII file:
[code]
It gave me a RuntimeError:
[code]

[2017-06-06 09:16] #91 closed

[2017-06-10 14:39] tammojan opened #96 "Problems with Boost 1.64.0"
As reported https://github.com/conda-forge/casacore-feedstock/commit/61dfb9fb11d151326c7186ca01427fa2cac47075#commitcomment-22394479 , python-casacore (and casacore?) seems to be affected by this boost bug: https://svn.boost.org/trac10/ticket/12516

I have not reproduced this yet. A workaround is to use Boost 1.63.0, or to apply a one-line patch to the boost headers: https://github.com/boostorg/se

[2017-06-14 19:22] #79 closed

[2017-06-20 08:56] tammojan opened #100 "Add testing for msconcat"
Testing msconcat and other measurement functions should now be possible using `default_ms`.

[2017-06-20 08:57] #54 closed

[2017-06-20 08:57] #59 closed

[2017-06-20 12:47] tammojan opened #102 "Add jupyter HTML output to table"
It would be nice if in jupyter notebook, the casacore table would be represented nicely. This should be quite easy, by implementing a `_repr_html_()` method to `table`. I have already implemented this for the TaQL tutorial at http://taql.astron.nl . The source is at https://github.com/tammojan/taql-jupyter/blob/master/taql/taqlkernel.py

[2017-06-27 08:50] shibasisp opened #104 "It's a nice idea to have a github integration to check python code style upon pull request."
Right now, python-casacore has a lot of PEP8 errors. Adding an github integration like this-> https://pep8speaks.com/ would be useful.

[2017-06-29 10:49] #38 closed

[2017-07-05 09:21] sjperkins opened #105 "Measures calls seem to be very slow"
Computing the parallactic angles from timesteps and antenna positions seems to be very slow -- `~8.67 seconds` to compute `40320` parallactic angles from `2800 timesteps x 14 antenna` on my laptop.

Profiling suggests that large amounts of time are spent in the `do_frame` and `posangle` calls:

[code]

Here is the test script. Should the measures calls be this expensive?

[code]

[2017-07-05 09:33] sjperkins commented on #105
As @tammojan mentioned, this is likely a casacore issue since both `posangle` and `doframe` are calls to methods on MeasuresProxy.

[2017-07-05 18:02] tammojan commented on #105
The problem is probably that there are a lot of calls between python and c. A much faster alternative would be to use the `tables` interface to measures.
I must confess I don't know what a parallactic angle is. I hope you'll understand the taql query below and use [note 199](http://casacore.github.io/casacore-notes/199.html) and the [TaQL tutorial](http://taql.astron.nl) to fix this:
[code]
This t

[2017-07-07 08:10] sjperkins commented on #105
@tammojan Thanks, I'll give this whirl in the next while.

[2017-07-10 12:15] sjperkins commented on #105
/cc @jskenyon

[2017-07-11 13:19] amisk opened #108 "casacore is too old?"
Hi!

I am trying to install the latest python-casacore version.
I just installed casacore itself by using svn and specifying 2.3.0.
But when I try to install python-casacore, it kees saying that my casacore version is older than 2.3 and incompatible ...

Any ideas? :)

[2017-07-12 20:41] shibasisp commented on #108
Hii!
strange..Could you please do a clean install of both casacore and python-casacore once again and check?

[2017-07-13 05:30] tammojan commented on #108
Could you check that you really have casacore 2.3.0 by typing `taql --version`?

[2017-07-25 12:39] amisk commented on #108
Hi,

if I type taql --version, I get the error that --version is an invalid option.

[2017-07-25 12:41] tammojan commented on #108
That means you do not have casacore 2.3.0 (this feature was introduced in version 2.2.0, see https://github.com/casacore/casacore/commit/fb5925c67b762f8bc022347b4aa1e2f15f4f73a2 )

[2017-07-25 12:43] amisk commented on #108
Ok ... but how can that be? I got the source through:

svn co https://github.com/casacore/casacore/tags/v2.3.0 source

[2017-07-25 12:44] tammojan commented on #108
Perhaps an old installation which takes precedence? Does `which taql` show you the right path?

[2017-07-25 12:45] amisk commented on #108
yes, it shows me the path to a binary that was created two weeks ago.

[2017-07-25 12:51] amisk commented on #108
Ok, I have no idea why, but this time it appears to work .... the setup.py of python-casacore is no longer complaining about casacore. Now it complains about missing fitsio.h, but thats a different topic and I will try to solve this before I open up another issue :)

Thank you!

[2017-07-30 10:52] shibasisp commented on #104
Added.

[2017-07-30 10:52] #104 closed

[2017-08-02 06:24] #108 closed

[2017-08-02 06:24] #102 closed

[2017-08-02 06:29] tammojan opened #116 "Refer to subtable in taql with variable expansion"
I would like to refer to a subtable from python. I have the following
[code]
Now I would like to refer to the `ANTENNA` subtable of the measurement set using the variable `ms`. Neither of the following work:
[code]

Am I missing an obvious way to achieve this, or should the code that expands variables be expanded?

[2017-08-24 12:39] amisk commented on #108
Hello,

Sorry to open this up again, but I am installing the software on another machine, and I have the same problem again. But this time taql --version actually shows 2.3.0,  but python-casacore says that my version is older than that.

This is what I've done:

Casacore2 installation:

cd /opt/soft/lofar-stuff/BuildDir
wget https://github.com/casacore/casacore/archive/v2.3.0.tar.gz
tar -xvf v2.3

[2017-09-06 01:20] alxames opened #118 ""Could not find a boost library" with boost 1.53 on CentOS 7.2"
Just did a git pull, then ran:
[code]
and got:
[code]
Last time I installed python-casacore, this wasn't a problem. We didn't update boost.
The problem persists after removing already built/configured outputs (clean source dir).

[2017-09-06 08:52] tammojan commented on #118
It should work with:
[code]

[2017-09-06 16:33] alxames commented on #118
Yes, this works. Thanks.
I do hope that python-casacore can, at some point again, detect boost in the standard lib or lib64 path(s) automatically. But I'll close this for now.

[2017-09-06 16:46] alxames commented on #118
Install trips over the same error. The -L option works for boost, but not to find libcasa_casa.so. I don't get this and no longer have time to dive in. Any idea?
[code]
[code]
[code]
[code]

Even this fails (instructed just above):
[code]

[2017-09-06 18:29] tammojan commented on #118
I agree the current code is not pretty. A quick way to make it work is to put the paths in the `setup.py` itself instead of specifying it on the command line.

[2017-09-23 06:43] sjperkins commented on #105
implemented the above in c++ and it reduces the time taken to ~3.4 second

[2017-09-23 06:43] #105 closed

[2017-10-17 08:41] essence-of-waqf opened #119 "Boost Error: did not match C++ signature, when combined with multiprocessing.pool call"
When I run the following as a normal python call, it works:

def mstablework(...)
...
	tab = ct.table(msname)
...

However, when I parallelize the above using the Multiprocessing library:

pool.map(mstablework,[[p, c,conf] for p in np.arange(0, 0.05, 0.01) for c in np.arange(1000,5000,100)])

I get the following error:
-----------------
'ArgumentError('Python argument types in
    Table.__init__(t

[2017-10-28 08:58] AHorneffer opened #120 "setup.py ignores LD_LIBRARY_PATH"
`setup.py` doesn't do anything if it cannot find the casa library, but it also ignores the `LD_LIBRARY_PATH` environment variable.

[code]

[2017-11-06 14:38] gijzelaerr commented on #14
ok, then i'll close this issue.

[2017-11-06 14:38] #14 closed

[2017-11-06 14:39] gijzelaerr commented on #17
I trust your judgement!

[2017-11-06 14:40] gijzelaerr commented on #41
this already happened.

[2017-11-06 14:40] #41 closed

[2017-11-06 14:53] gijzelaerr commented on #85
closing this issue since this seems to be resolved, please reopen if you think otherwise.

[2017-11-06 14:53] #85 closed

[2017-11-06 14:53] gijzelaerr commented on #61
this has been implemented in this PR https://github.com/casacore/python-casacore/pull/72

[2017-11-06 14:53] #61 closed

[2017-11-06 14:56] gijzelaerr commented on #118
you should first build the library using `build_ext` and -L flags, then install them. You can't use -L flags during install.

[2017-11-06 14:58] gijzelaerr commented on #120
you should specify the path to the libraries using -L

[2017-11-06 15:10] gijzelaerr opened #122 "Fix travis for python3"
the test suite passes for python3, just not yet on travis. can't find the python boost library  : /

[2017-11-06 15:35] #120 closed

[2017-11-06 15:38] gijzelaerr commented on #119
I think the pickling of python-casacore objects is not properly working. This has nothing to do with the linker.

[2017-11-06 15:48] gijzelaerr commented on #118
I've made the setup.py a bit less grumpy, it should not raise exceptions, just warn the user. The compiler will fail if something is wrong.

https://github.com/casacore/python-casacore/commit/690cbfe7f0e021398ed7afc1e110c0ab37ece5a6

[2017-11-07 07:46] shibasisp commented on #92
I did some work regarding porting python-casacore from using boost:python to pybind11 in [this branch](https://github.com/shibasisp/python-casacore/tree/pybind11). It gets compiled and outputs the extension modules correctly. However importing that module in Python doesn't work. I can't find where the flaw is. Anyone interested can look at [my branch](https://github.com/shibasisp/python-casacore/t

[2017-11-08 13:08] olebole opened #123 "[2.2] setup.py fails on non-x64_64 Debian machines"
`setup.py` uses a hand-made function `find_library_file()` to check for boost and libcasacasa. This function has the disadvantage that architecture dependent paths are coded in; namely `/usr/lib/x86_64-linux-gnu`. This does not work for any other architecture -- arm, arm64, i386 etc, and consequently the build on those architectures [fails](https://buildd.debian.org/status/logs.php?pkg=python-casa

[2017-11-08 13:10] tammojan commented on #123
Thanks @olebole. The idea of this function is to check the library file for its version number. Do you have an idea how to do this more properly?

[2017-11-08 13:33] olebole commented on #123
Not in the moment; what was the reason to change this between 2.1.2 and 2.2?
I however see that the failure may be fixed with d8e1f94cd00f42408a460fdc294f926778fcbaff (which however indicates that the current solution may be not very robust).

[2017-11-08 13:56] tammojan commented on #123
The reason for the change is that python-casacore now depends on casacore 2.3.0.

[2017-11-08 14:02] olebole commented on #123
Update here: d8e1f94 seems not to help -- one then gets a failure because somewhere `None` is added to the libs instead of libboost.
What pragmatically helps is to return the default `boostlibnames[0]` instead of `None` in the not-found branch of `find_boost()` -- since the name ist known on Debian.

That is just a warning. The problem is that the Python boostlib is set to `None`, where `setup()`

[2017-11-09 14:39] SpheMakh opened #124 "error when installing python-casacore with casacore from kern-3"
I get this error when I install python-casacore from PyPI after upgrading to kern-3

[code]

[2017-11-09 14:42] tammojan commented on #124
Thanks. This should have been fixed in the commit after the release ( d8e1f94cd00f42408a460fdc294f926778fcbaff ). Could you try that? If the patch (`setup.py` is unfortunately a lot of patchwork currently) works for you, we can roll out a 2.2.1 release.

[2017-11-10 09:02] gijzelaerr commented on #124
FYI you can quickly verify such a thing using docker and KERN.

Replicate the problem:
[code]

Verify the fix:
[code]

my conclusion: the problem has been solved.

[2017-11-10 09:07] #124 closed

[2017-11-10 18:09] bennahugo opened #125 "PyPI python casacore incompatible with KERN 2 casacore release"
@gijzelaerr Running into a compilation error when installing python-casacore from PyPI while using the current KERN 2 casacore release version. I assume this will be fixed when KERN 3 is released? It looks like the C++ API have changed:
[code]

[2017-11-10 18:52] tammojan commented on #125
python-casacore now depends on casacore >= 2.3.0. That is because the function `getTableDesc` was introduced then (necessary for writing MS from python). This should be solved in KERN 3, because it bundles casacore 2.3.0 (or 2.4.0, I'm not sure).

[2017-11-10 18:52] #125 closed

[2017-11-12 13:07] essence-of-waqf commented on #119
Thanks for your thoughts.
Do you have any suggestions for parallelizing?

[2017-11-12 13:18] gijzelaerr commented on #119
try not to pass casacore related objects between your processes or try to make the casacore objects serialisable and issue a pull request :)

[2017-11-12 13:44] gijzelaerr commented on #119
I think it might be related to this:

https://github.com/casacore/python-casacore/issues/17

where the serialise deserialise cycle using string representation is not working properly.

[2017-11-21 14:39] gijzelaerr commented on #122
this has been fixed! we now build and test python2 and python3 in one docker container. would be nice to have split containers at some point, but for now this is just working.

[2017-11-21 14:39] #122 closed

[2018-01-01 21:38] tammojan opened #127 "iter yields first element twice with casacore 2.4.0"
The following code shows that the first iterand in `t.iter()` is returned twice. The bug was introduced after casacore 2.3.0, and released in casacore 2.4.0. A fix (casacore/casacore#681) is released in casacore 2.4.1.
[code]
If the bug is present, `iterrows` is larger than `t.nrows()`, which should not be possible.

[2018-01-01 21:40] tammojan commented on #127
Fixed by using casacore 2.4.1.

[2018-01-01 21:40] #127 closed

[2018-01-18 21:46] astrofrog opened #128 "Segmentation fault when trying to open an image"
I installed ``python-casacore`` with conda on MacOS X with Python 3.6

[code]

and when I try and open the following small test image:

https://www.dropbox.com/s/91lx6apur3xq2y0/example_cube.image.tgz?dl=0

I get a segmentation fault:

[code]

I'm able to open the image file in the CASA viewer, so the file should be valid.

[2018-01-18 23:22] astrofrog commented on #128
I managed to reproduce this with a much simpler example, and have provided the valgrind output here:

[code]

[2018-01-18 23:51] astrofrog commented on #128
This is a Python 3.x issue btw, things work fine in Python 2

[2018-01-19 12:28] astrofrog opened #129 "Incorrect order of axes when accessing coordinates from image"
I am trying to read in the following image with python-casacore:

https://www.dropbox.com/s/91lx6apur3xq2y0/example_cube.image.tgz?dl=0

The order of the axes should be [RA, Dec, Freq, Stokes] (or [Stokes, Freq, Dec, RA]), and this works in CASA itself:

[code]

However python-casacore returns neither order, instead swapping Stokes and Frequency:

[code]

Is this a bug? If not, is there a way to g

[2018-01-23 15:51] o-smirnov opened #130 "getcol() returning inconsistent results with large variable-shaped columns"
I am scratching my eyes trying to figure out what I'm missing here, but it seems a genuinely puzzling bug. @gervandiepen, @tammojan, how can this be?

(This is on a pretty vanilla Ubuntu 16.04 server, using the latest packages from KERN-3.)

[code]

[2018-03-16 18:06] mtazzari opened #133 "Installation with conda overrides casaviewer path"
After installing with
[code]
I get it to work correctly (`python -c 'import casac'` gives no errors), but the `casaviewer` executable  is now changed to the one in the `conda` path, which leads to errors:
[code]
However, the `casa` executable is working fine and is pointing to the system-wide installation.
This error with `casaviewer` occurs only within the environment `casaenv` where I installed

[2018-04-09 14:02] o-smirnov opened #134 "pip install: confusing error when boost dependency is not found"
pip installing into a fresh virtualenv on 16.04, I get the following very misleading failure.

Careful perusing with @gijzelaerr revealed that some boost-dev or other was missing on the system, and ``sudo apt-get build-dep python-casacore`` solved the problem. So just a case of a very unhelpful error message!

[code]

[2018-05-11 02:11] ajstewart opened #135 "gcc failure when attempting setup.py build_ext on Red Hat EL 7.4 (quantamath.cc)"
I'm attempting to get casacore and python-cascore setup on a RHEL 7.4 machine. Casacore seems to build ok which I install in my directory.

When I came to install python-casacore in a new conda2 environment I get the following error. I'm trying to build it from source because of the different casacore location as I had to do similar to what was said in Issue #118.

Below my error message is also t

[2018-06-25 13:29] haavee opened #136 "python-casacore uses hardcoded casa:: calls"
In python-casacore there are quite a few calls to `casa::python::*` functions.
Probably all symbols from casacore and python-casacore should reside in the `casacore` namespace.
May need coordination with changing - or preferably removal of - the`-DUseCasacoreNamespace` compile time directive of casacore.

[2018-06-25 13:31] haavee commented on #135
I've seen the same issue (and have the same fix) on `CentOS Linux release 7.5.1804 (Core)`

[2018-06-26 06:11] gervandiepen commented on #135
I also noted it yesterday and am working on a fix.
Ger

On Mon, Jun 25, 2018 at 3:32 PM, Harro Verkouter <notifications@github.com>
wrote:

[2018-06-27 12:06] #17 closed

[2018-06-27 12:07] #136 closed

[2018-06-27 12:08] #135 closed

[2018-08-03 13:41] bmerry opened #138 "Feature request: support writing unicode strings"
When using putcol to write a numpy array of unicode strings (e.g. dtype 'U11') it fails with an error `PycArray: unknown python array data type`. In Python 3 these arrays arise from e.g. `np.array(['hello'])` because Python 3 strings are Unicode.

It would be nice if these arrays could be automatically encoded. I don't know enough about what encodings are assumed by other MS tools, but presumably

[2018-09-14 18:34] dmehring opened #139 "help installing on casacore developer box"
Apologies if this is not the appropriate forum for this question, but I have an RHEL workstation so cannot use apt-get to install. I have the casacore repos cloned in my user area for CASA development. Is it possible to configure pip to look for my casacore install in a nonstandard place? Currently it complains that it can't find the Converters files:
[code]
Thanks

[2018-09-14 18:40] tammojan commented on #139
As noted in README, try:
[code]

[2018-09-14 18:47] dmehring commented on #139
Thanks for the quick response @tammojan . That gets me a bit farther, but I run into problems later:
[code]

[2018-09-14 18:51] tammojan commented on #139
Apparently setup.py cannot find the boost-python library. You could locate it using
[code]
Then you can add the path to boost-python in the `build_ext` command with:
[code]

[2018-09-14 19:19] dmehring commented on #139
Thanks. By doing that, as well as some additional tweaks to include paths, I was able to build and install. And by making an addition to LD_LIBRARY_PATH to point to my casacore library install directory, I was able to run

from casacore import tables

successfully. So I appear to be good for now. Thanks for the quick help!

[2018-09-14 20:32] tammojan commented on #139
Please also test successful installation with:
[code]
Boost-python linking related problems are notorious for showing up at runtime..

[2018-09-19 15:04] dmehring commented on #139
Looks good:

[code]

[2018-09-20 13:13] #139 closed

[2018-10-01 06:48] tammojan opened #140 "Python variable expansion in taql commands"
The variable expansion in taql commands does seem to work for `alter` commands, where it does work for `select` commands:
[code]

[2018-10-01 13:07] gervandiepen commented on #140
I've tested it on lhd002 (in my own worksapce) with the latest casacore and
python-casacore (built myself) and it works fine for me.

<casacore.tables.table.table object at 0x7fe60e767e68>

12531
which is indeed 3 more than before.

No idea why it fails for you.

On Mon, Oct 1, 2018 at 8:48 AM Tammo Jan Dijkema <notifications@github.com>
wrote:

[2018-10-25 13:53] sabourke opened #141 "Measures solar-system-objects directions not working"
Hi, the following code used to work for me:
[code]
but now it fails with:
[code]
It will work with a J2000 direction. Any ideas? This is with ubuntu 18.04 stock packages.

(Edited to add do_frame calls which I had omitted in this example.)

[2018-10-30 14:48] gijzelaerr commented on #134
This has been solved a while ago https://github.com/casacore/python-casacore/commit/690cbfe7f0e021398ed7afc1e110c0ab37ece5a6

[2018-10-30 14:48] #134 closed

[2018-10-30 14:51] gijzelaerr commented on #18
hi @fe56 , is this still an issue?

[2018-10-30 14:51] gijzelaerr commented on #37
@tammojan what does this mean?

[2018-10-30 14:54] gijzelaerr commented on #96
We can't do much about this from the python-casacore code side. Closing this issue since it is more a packaging issue, please reopen if you think otherwise.

[2018-10-30 14:54] #96 closed

[2018-10-30 14:55] gijzelaerr commented on #100
you mean add an integration test?

[2018-10-30 14:56] gijzelaerr commented on #119
@essence-of-waqf is this still an issue (with the current master)? Bug #17 has been solved.

[2018-10-30 14:58] gijzelaerr commented on #141
do you have the casacore data installed?

[2018-10-30 15:03] gijzelaerr commented on #118
I assume this is not an issue anymore now.

[2018-10-30 15:03] #118 closed

[2018-10-31 09:21] gijzelaerr opened #142 "Time for a new release"
lets use this issue to discuss any important remaining things, otherwise we have a go for 3.0!

[2018-11-01 10:50] sabourke commented on #141
Yeah. I have all the casacore packages installed.

[2018-11-01 11:14] sabourke commented on #141
I did a bit more digging and it the necessary data is not in the casacore-data packages. If I use NRAO's data it works. Specifically the needed information seems to be in `ephemerides/DE200`

Additionally, the debian casacore data packages cause a lot of accuracy warnings. See sample below. When the `geodetic/IERSeop97`, `geodetic/IERSpredict` and `geodetic/TAI_UTC` tables (included in the NRAO da

[2018-11-01 11:49] gijzelaerr commented on #141
Ok i was affraid this was going to happen at some point. I think this is partly a casacore and partly a debian bug. Can you move the issue to the casacore issue tracker?

[2018-11-01 12:09] sabourke commented on #141
This issue was moved to casacore/casacore#799

[2018-11-01 12:09] #141 closed

[2018-11-06 02:31] pkgw opened #144 ""Expecting an object of type dict; got an object of type dict instead""
I'm currently experiencing a resurrection of a problem that seems to have cropped up before:

- [pyrap #20](https://code.google.com/archive/p/pyrap/issues/20)
- [GitHub #15](https://github.com/casacore/python-casacore/issues/15)

The problem is a befuddling error message on macOS:

[code]

(from [this log](https://travis-ci.org/conda-forge/pyuvdata-feedstock/jobs/450649747#L680-L683) associated wi

[2018-11-06 06:35] gervandiepen commented on #144
Indeed very strange.
The only thing I can think of is that you look carefully at PYTHONPATH and
especially (DY)LD_LIBRARY_PATH and check if they are not different from the
paths used during the build.

On Tue, Nov 6, 2018 at 3:31 AM Peter Williams <notifications@github.com>
wrote:

[2018-11-06 13:49] pkgw commented on #144
I doubt that's it, since the conda system is good about not needing to set such environment variables.

At the moment I'm trying to see if I can boil it all down to a minimal test case, but it's going to be slow going.

[2018-11-06 20:55] tammojan commented on #144
Python-casacore looks for the 'right' boost-python library by its name. The name for boost python differs between distributions, also between for example homebrew and conda.

A way to debug this is to use `otool -L _tables.dylib` and make sure it point to the right boost-python and python libraries. Same for `libcasa_tables.dylib`.

If it all looks ok (and it's not), it may be useful to run the fo

[2018-11-07 11:29] gijzelaerr commented on #144
I've experienced the same issues when mixing up the compile time and runtime shared libraries.

[2018-11-07 11:32] gijzelaerr opened #145 "Make a big binary wheel including dependencies"
A lot of new astronomers are struggling with the installation of python-casacore. And to be honest, it is not easy. First, you need to install casacore with the right flags, then you need to compile the python code and point to the right locations. Additionally, there is the problem that you might mix up the various boost or casacore libraries during runtime, resulting in weird errors.

I think al

[2018-11-07 11:33] gijzelaerr commented on #144
I think in the end this is a user error, and we can't do much about it apart from making it harder for a user to shoot herself in the foot. Opening a new issue for that: https://github.com/casacore/python-casacore/issues/145

[2018-11-07 14:21] gijzelaerr opened #149 "undefined symbols on travis"
[code]

[2018-11-08 11:08] #149 closed

[2018-11-08 14:46] pkgw commented on #144
@gijzelaerr I definitely agree that this isn't really casacore's fault in a lot of ways. There might be ways to add build configuration checks to prevent certain common broken scenarios, I suppose?

*Once I iron out this problem*, I'd say that distribution through conda-forge is your best bet to having the reliable installation as mentioned in #145 — this is exactly the sort of thing that Conda pa

[2018-11-09 05:18] pkgw commented on #144
After further investigation ... I think I have isolated the general class of issue, and this might actually be a bug in python-casacore! But it gets much beyond my C++-fu so I'm not sure if it's anything you can do something about.

When using the new conda-forge compiler on macOS, there seems to be some problem involving coherency between templates instantiated inside `libcasa_python3.dylib` and

[2018-11-12 14:25] amisk opened #150 "how to enable c++11?"
Hi,

I am trying to install the latest software for lofar. If I install the latest casacore, I cannot compile python-casacore, it says:
`/usr/include/c++/4.8/bits/c++0x_warning.h:32:2: error: #error This file requires compiler and library support for the ISO C++ 2011 standard. This support is currently experimental, and must be enabled with the -std=c++11 or -std=gnu++11 compiler options.
`
I can'

[2018-11-12 15:13] gervandiepen commented on #150
Do
  export CFLAGS='-std=c++11'
before
  python setup.py build_ext ....

On Mon, Nov 12, 2018 at 3:25 PM amisk <notifications@github.com> wrote:

[2018-11-12 15:15] amisk commented on #150
Thank you. Appears to be working.

[2018-11-12 15:15] #150 closed

[2018-11-13 03:39] DavidGMcConnell opened #151 "Creation of masked image"
I found the following behaviour unexpected, and it seems illogical.

According to the documentation for casacore.images.image

If given, the image will be created and these values will be stored in it. It should be a numpy array or masked array. If it is a masked array, its mask acts as the mask argument described below. The data type of the image is derived from the array’s data type.

And 'below

[2018-11-13 10:45] gervandiepen commented on #150
Casarest needed some changes to build with the new casacore.
I've created a PR for that, so you have to wait until it is merged. It will
use c++11.

On Mon, Nov 12, 2018 at 4:28 PM amisk <notifications@github.com> wrote:

[2018-11-24 10:09] olebole opened #152 "Compilation problems with casacore 3.0.0"
When compiling the 2.2.1 release obn Debian Testing with casacore version 3.0.0, I get the following error:
[code]

[2018-11-26 10:48] gervandiepen commented on #152
Casacore pre 3.0 used default namespace casa, but in 3.0 the default has
been changed to casacore (to avoid conflicts with the CASA package).
python-casacore has already been changed to use namespace casacore, but I
guess it needs a new release.

On Sat, Nov 24, 2018 at 11:09 AM Ole Streicher <notifications@github.com>
wrote:

[2018-12-02 05:50] satya-yuga opened #153 "is it possible to remove rows from a MeasurementSet (ms) table ?"
help needed
Hello there!
I need to remove some rows from a MS table.
I tried to employ `table.removerows(few_rows)` but I got an error related to "storage managers" (?).
Then I did read that it only works for reference tables.
Later I tried to select (TaQL) the desired rows in order to save them, but it didn't work.
How could I actually remove rows from a MS table?
Greetings,

[2018-12-03 12:31] gervandiepen commented on #153
It depends on the storage manager(s) used if a row can be deleted. Some
(e.g., StandardStMan) support it, some (e.g., TiledStMan) do not (because
it is impossible). In general the TiledStMan is used for some columns of
the MeasurementSet making it impossible to remove rows from an MS.
What you can do is selecting the rows you want to process and use the
resulting (reference) table as the input for

[2018-12-04 13:13] gijzelaerr opened #154 "make a release"

[2018-12-04 13:14] #154 closed

[2018-12-05 04:51] satya-yuga commented on #153
The "GIVING" stuff worked perfectly.
Thank you very much!

[2018-12-05 04:51] #153 closed

[2018-12-18 10:50] gijzelaerr commented on #152
this should be solved with the 3.0.0 release https://github.com/casacore/python-casacore/releases/tag/v3.0.0

[2018-12-18 10:50] #152 closed

[2018-12-18 10:51] gijzelaerr opened #158 "handle unicode better"
python-casacore often doesn't handle unicode strings properly, giving errors like this:
[code]

[2018-12-18 12:04] gijzelaerr commented on #158
related to https://github.com/casacore/python-casacore/issues/138

I'm struggling to figure out how this actually works. It seems that casa has its own string type implementation. For python3 when a string is encoded it becomes a byte string type, while for python2 it is still a string.

I feel that is is going to be painful.

[2018-12-18 13:07] gijzelaerr commented on #158
i guess this is causing the problems for py3
https://github.com/casacore/casacore/blame/master/python/Converters/PycBasicData.h#L103

[2018-12-19 14:59] gijzelaerr commented on #145
looks like auditwheel does what we want https://github.com/pypa/auditwheel

[2018-12-20 14:39] gijzelaerr commented on #142
done!

[2018-12-20 14:39] #142 closed

[2019-01-10 12:18] gijzelaerr opened #162 "Update doc about CFLAGS"
Today I learned that when pip invoked a compiler it actually checks the environment variables. This makes specifying additional linker and include paths much easier. We should probably update the installation instructions.

For example on OSX with homebrew and clang I can install python-casascore from pip with this oneliner:
[code]

[2019-02-13 13:04] o-smirnov commented on #130
I'm seeing this bug again with a large MeerKAT MS.

![screenshot from 2019-02-13 15-02-56](https://user-images.githubusercontent.com/6470079/52713631-81c5af80-2fa0-11e9-8177-1470c0a5abde.png)

Somebody help! Am I hallucinating? If I can't trust ``getcol()`` to return data from the MS properly, than all our software is basically undermined.

[2019-02-13 13:08] cyriltasse commented on #130
I had seen something similar in the past - did you try with `getcolnp`?

[2019-02-13 13:10] cyriltasse commented on #130
Like here https://github.com/casacore/python-casacore/issues/38

[2019-02-13 13:39] o-smirnov commented on #130
Yep same bug. So yeah definitely ``getcol()`` is broken with large columns. :( ``getcolnp()`` seems to work...

In my case, I have a 5715090 rows, and a [474,4] data column... and if I read the whole thing in at once, everything from row 1184533 onwards is null. But if I read it with ``getcolnp()``, things seem to be fine.

@bennahugo take note.

[2019-02-13 13:50] cyriltasse commented on #130
@gervandiepen @tammojan what would be the problem for `getcol` to actually be a wrapper to `getcolnp`?

[2019-02-13 13:54] bennahugo commented on #130
Note the possible related bug affecting 4 correlation data I have reported earlier casacore/casacore#756

[2019-02-13 13:55] bennahugo commented on #130
That may point to something deeper than python-casacore, since it affects CASA as well.

[2019-02-13 13:56] tammojan commented on #130
I'm having a look at this; it would be useful to have a reproducible error. Preferably (but not necessarily) without sending enormous measurement sets over.

[2019-02-13 14:40] tammojan commented on #130
I don't know, good question. `getcol` is a wrapper around [getValueFromTable](https://github.com/casacore/casacore/blob/master/tables/Tables/TableProxy.cc#L2145), `getcolnp` is a wrapper around [getValueFromTableVH](https://github.com/casacore/casacore/blob/master/tables/Tables/TableProxy.cc#L2423) (VH is for ValueHolder, which is the C++ side of a python object, in this case a numpy array). The o

[2019-02-13 16:48] gervandiepen commented on #130
I'll take a look at it asap.
Early this week I got a similar error message from Francesco de Gasperin
who read a 53 GB column.
He determined the maximum of the column (with np.max) which was a lower
value than that of a subset. With TaQL's gmax() function he got correct
values, so the data themselves are fine.
Do you know how large your columns are? Maybe there is some kind of a 32
(or 16) GB prob

[2019-02-13 17:25] o-smirnov commented on #130
My column is 5715090*474*4*8 = 40.36 GB. The first 1184533 rows (8.36 GB) are read in properly, then I get nulls. (Neither number seems particularly round or significant...)

Numpy arrays work fine, I can read the whole column with ``getcolnp()``.

[2019-02-14 09:05] gervandiepen commented on #130
I've written a test program to create a large column and read it back with
getcol.
In C++ it is all fine; the column's data are as expected when read with
getColumn.
In Python I indeed see 0 at the end of the getcol array, so I assume
something is wrong in the C++-Python conversion. I'm investigating it.

On Wed, Feb 13, 2019 at 6:25 PM Oleg Smirnov <notifications@github.com>
wrote:

[2019-02-14 10:55] gervandiepen commented on #130
I've found the problem (in the C++-python converters of Casacore) and
issued a PR (issue-pc130).
In the converters the 64-bit array size was handled as 32-bit. It had the
effect that only the 32-bit modulo of the size was handled, thus for a 40
GB array only about 8 GB was handled.
Once the PR has been merged, a Casacore build and install (of the master)
should do the job.

On Thu, Feb 14, 2019 at

[2019-02-14 10:58] o-smirnov commented on #130
Excellent, thanks!

[2019-02-14 11:37] bennahugo commented on #130
Fantastic thanks @gervandiepen. @SpheMakh this is a serious bugfix affecting most python-based software in the pipeline. Please build casacore:master from source

[2019-02-14 11:45] cyriltasse commented on #130
@gervandiepen nice nice! :)

[2019-02-19 08:46] vdhulst opened #163 "python-casacore errors when installing on MacOS 10.13.6"
When building python-casacore I get the following errors (all connected to two casacore include files). I did install the latest version of casacore successfully first. The error messages are:
[code]

Hope there is a simple solution. I will be in Dwingeloo next week Tuesday, so could discuss this in person then with Ger or Gijs.

[2019-02-21 23:01] satya-yuga opened #164 "CASA crash due to casacore import ?!?!"

[2019-02-21 23:06] satya-yuga commented on #164
Until December 2018, from inside CASA, I used to:
    import casacore.table as pt
Everything worked fine.
Today I updated:
    conda update --all
And then, that import statement makes CASA to crash! (segmentation fault)

[2019-02-23 13:02] gervandiepen commented on #164
Some more information is needed.
Can it be that the CASA and python-casacore shared libraries are
conflicting?

On Fri, Feb 22, 2019 at 12:06 AM satya-yuga <notifications@github.com>
wrote:

[2019-02-23 20:14] tammojan commented on #164
This could indeed well be a conflicting library issue. Note that python-casacore and casa are not designed to work together; in particular the way casa is shipped with its own python interpreter makes it hard to get the libraries right.

From casa, much of the python-casacore functionality is already accessible through `tb`. E.g. `t = tb.open("bla.MS")`, `data = t.getcol("DATA")`. See https://casa

[2019-02-24 23:49] satya-yuga commented on #164
Conflicting shared libraries? ... hm ... maybe? ... but I employed python-casacore libraries from inside CASA during whole 2018, and it worked fine. After I updated python-casacore, it made CASA to crash.
It has been absolutely annoying to split my scripts between the ones that employ python-casacore and the ones that doesn't.

[2019-02-25 00:05] satya-yuga commented on #164
I need to select some data from MS, alter it and update it in the MS. Hence, I did employ ms.getdata and ms.putdata. However, they have issues that I reported on September 7th 2018. The CASA Helpdesk recognized the 3 issues. They are still open under ticket "NRAO 12628".

After I reported those issues, I realized that TaQL works perfect for my needs. Sadly, I can only access it by casacore.tables

[2019-02-25 04:12] tammojan commented on #164
I'm sorry we cannot debug this without further information regarding your installation. Could you have a look at which libraries are loaded during import? E.g. within casa do an `import casacore.tables as pt; print(pt.__file__);` A really big hammer to hit this problem with is to start casa with `LD_DEBUG=libs casapy` and filter the output for `casa` and `boost_python`. My suspicion is that there

[2019-02-25 06:45] satya-yuga commented on #164
I don't have any **casapy** but only **casa** which I downloaded from casa.nrao.edu
I followed your instructions and I got 4780 output lines. When I filtered by "casa" I got 2594 lines. When I filtered by "boost_python" I just got 2 lines that seemed fine.

However, I realized there were two FATAL output lines:
1) CrashReportPoster: error: symbol lookup error: undefined symbol: curl_easy_init (fat

[2019-02-25 17:21] JimNrao commented on #164
I'm not doing Casa these days, but I did get this message.

I think the two lines are probably a secondary error. The program
crashed (seg faulted or did an uncaught exception) and then when it
tried to send a report out, it ran into the CrashReportPoster problem.
This is definitely not a /casacore/ problem. Probably the installation
resulted in Casa being paired with an unexpected version of the

[2019-02-26 04:38] satya-yuga commented on #164
I tried to dig deeper into the problem, but I didn't get any light.
However, I found something weird: all my installation and libraries are related to python2.7, but among the huge debug info there is one call to one library for python3.
Mysterious.
I will leave this issue here since I cannot waist additional time.
Thanks for all your time.
Greetings!

[2019-02-26 04:41] #164 closed

[2019-03-28 07:45] k-dominik commented on #144
Thanks a lot for opening this issue and documenting progress and solution. This really helped me!

[2019-05-14 09:50] darafferty opened #165 "iteritems() in casacore/tables/table.py incompatible with Python 3"
Line 1485 of casacore/tables/table.py (`for c, hcdef in hcdefs.iteritems():`) causes an error in Python 3.

[2019-05-14 14:26] gijzelaerr commented on #165
merged!

[2019-05-14 14:26] #165 closed

[2019-05-14 14:27] gijzelaerr commented on #163
What compiler are you using?

[2019-05-14 23:05] ludwigschwardt commented on #163
I just ran into this while reviving the casacore homebrew formula :-)

My solution was to specify C++11 when installing the Python package, e.g.
[code]
@gijzelaerr, in Homebrew we can optionally disable C++11 but I guess that is suboptimal... Can we add this flag to the extension builder in python-casacore's `setup.py`?

[2019-05-14 23:11] ludwigschwardt commented on #145
Have a look at ska-sa/spead2, which is also C++ and now builds `manylinux2010` wheels.

[2019-05-15 08:34] gijzelaerr commented on #163
sure!

[2019-05-15 08:35] gijzelaerr commented on #145
Ludwig, you are making my day.

[2019-05-15 09:41] ludwigschwardt opened #167 "Search order for boost-python library"
I find the following libraries installed by Homebrew:

boost-python:
[code]
boost-python3:
[code]

My casacore formula builds with thread support, I guess (`-DUSE_THREADS=ON`), so it links against the `mt` version of boost-python.

However, `python-casacore` looks up boost in the following way in `find_boost()`:
[code]

It then finds the non-`mt` version first and links against it. I'm guessing th

[2019-05-16 09:30] gijzelaerr commented on #145
trying to make this now, but centos6 comes with wcslib 4.3, while casacore has a minimum requirement of 4.7. @gervandiepen how critical is it to have this version? can we hack around to get it working with 4.3?

[2019-05-16 09:40] tammojan commented on #145
Casacore needs to do some memory management on internal wcslib structures. For example in  coordinates/Coordinates/FITSCoordinateUtil.cc . I don't think casacore depends on new functionality in the newer wcslib versions, although it might be less thread safe in older versions.

It is probably possible to make casacore work with older wcslib by adding sufficient `#ifdef`s on the wcslib version, lik

[2019-05-16 09:45] gervandiepen commented on #145
I recall that older versions have a slightly different API, but I'm not
sure. You can make a local change and try to use 4.3.
4.3 is really old; the current wcslib version is 6.2!!

On Thu, May 16, 2019 at 11:31 AM Gijs Molenaar <notifications@github.com>
wrote:

[2019-05-16 11:06] gijzelaerr commented on #145
building with 4.3 fails:
[code]

[2019-05-16 11:08] gijzelaerr commented on #145
I've added my initial work on a wheel constructing docker file:

https://github.com/casacore/python-casacore/blob/master/.travis/wheel.docker

[2019-05-16 11:39] gijzelaerr commented on #158
merged!

[2019-05-16 11:39] #158 closed

[2019-05-16 12:10] gijzelaerr commented on #138
unfortunately, this is still an issue, even after the merge of the unicode improvements.

[2019-05-16 12:56] gijzelaerr commented on #138
should be implemented with https://github.com/casacore/python-casacore/pull/168

[2019-05-16 13:29] gijzelaerr opened #169 "tConvert ValueHolder overflow error"
@bmerry writes:

Regarding the tConvert ValueHolder overflow error: my guess is that you should adapt the behaviour to the value of the integer, rather than the Python type. So for example, first try to extract as 'int', and if that fails, fall back to extract as Int64.

[2019-05-16 14:12] gervandiepen commented on #169
The #ifdef on IS_PY3K in PycValueHolder.cc is not correct. It should not do the PyLong_Check instead of the PyInt_Check because that test is done right after it.
So it should get #ifndef IS_PY3K at line 101, 159 and 251 without the PyLong and #else part.

[2019-05-16 14:20] gijzelaerr commented on #169
i don't understand what you try to say. python3 only has a long type for int?

[2019-05-16 14:23] gervandiepen commented on #169
Basically you handle a Python long as a C++ int for Python3 because of the
PyLong test in the #ifdef. Instead always handle PyLong as Int64 for both
Python2 and 3.
I can make the change tomorrow if you like to.

On Thu, May 16, 2019 at 4:20 PM Gijs Molenaar <notifications@github.com>
wrote:

[2019-05-16 14:34] gijzelaerr commented on #169
ok please do, I'm out of time to work on this now.

[2019-05-16 14:38] gijzelaerr commented on #145
I've updated the wheel image to build `wcslib` and `boost` ourselves, which all works. We now have another issue. The `manylinux2010` container actually doesn't contain a `libpython` shared library since it is considered to be bad practice to link to this. Casacore fails to build without a libpython shared library. i'm not sure what is wise here or how to proceed.

https://www.python.org/dev/peps/

[2019-05-16 15:17] ludwigschwardt commented on #145
If you read the [docs](https://docs.brew.sh/Python-for-Formula-Authors) on packaging Python bindings on Homebrew, they link to this helpful [post](https://blog.tim-smith.us/2015/09/python-extension-modules-os-x/).

Just remove the `-lpython` from the linker invocation but make sure you have the `-shared` flag. This ignores undefined symbols (at least on Linux). They will get resolved when you load

[2019-05-21 09:31] tammojan opened #171 "Runtime linking not working with binary wheel distribution"
The following command will fail with a binary distribution, since it relies on runtime linking:
[code]
This requires `libcasa_meas.so` to be in the runtime linking path. This is not the case in the current wheel distribution prototype.

[2019-05-24 18:30] bennahugo opened #174 "Failing to write out string arrays"
Hi I'm trying to fill out the meta data for a casacore gain table with python 3 and casacore 3.0.

However, I'm running into a little snag where casacore does not accept string arrays:
[code]
with the following error
[code]

The same code works perfectly fine under python 2.7

[2019-05-31 15:08] bennahugo commented on #174
@gijzelaerr any ideas on how to work around the problem?

[2019-05-31 15:13] gijzelaerr commented on #174
update to a newer casacore.

I'm trying to get casacore 3.1.1 and python-casacore 3.1.0 out the door so i can roll a binary wheel for both py2 and py3, that would make it easier to upgrade.

[2019-06-02 15:15] o-smirnov opened #176 "table.addcols() fails with PycValueHolder"
[code]

The full code snippet is like this. I'm basically getting the column description and DM info from an existing DATA column, and attempting to insert a new column just like DATA:

[code]

[2019-06-02 15:29] o-smirnov commented on #176
Nevermind, I see that one of the string arguments was unicode and not str. Casting it to str solves the problem.

[2019-06-02 15:29] #176 closed

[2019-06-05 10:09] gijzelaerr commented on #174
This issue has been fixed in casacore 3.1+

[2019-06-05 10:09] #174 closed

[2019-06-05 10:10] gijzelaerr commented on #171
I guess this has been resolved by https://github.com/casacore/python-casacore/pull/177 ?

[2019-06-05 10:10] gijzelaerr commented on #167
This has been fixed right?

[2019-06-05 10:13] gervandiepen commented on #171
Yes; in that time runtime linking is not necessary anymore for special TaQL
functions.
However, unknown storage managers (such as LofarStMan) cannot be loaded.
Since they are part of other software, there is no way to preload them.

On Wed, Jun 5, 2019 at 12:10 PM Gijs Molenaar <notifications@github.com>
wrote:

[2019-06-05 14:11] ludwigschwardt commented on #167
Yes, fixed in #173. Forgot about this issue...

[2019-06-05 14:11] #167 closed

[2019-06-05 14:26] gijzelaerr commented on #171
I guess we can then close this issue when it is properly documented.

We can probably expect bug reports about this when we start distributing the binary wheels.

[2019-06-05 14:31] gijzelaerr commented on #138
this should be solved.

[2019-06-05 14:31] #138 closed

[2019-06-05 14:31] gijzelaerr commented on #169
This should be resolved.

[2019-06-05 14:31] #169 closed

[2019-06-05 14:32] gijzelaerr commented on #6
lets just close this issue, i think we have a good enough test suite now.

[2019-06-05 14:32] #6 closed

[2019-06-05 14:37] gijzelaerr commented on #130
@gervandiepen I guess this has been solved?

[2019-06-05 14:38] gijzelaerr commented on #163
@ludwigschwardt i lost track, has this issue been resolved?

[2019-06-05 14:50] ludwigschwardt commented on #163
Fixed in #173.

[2019-06-05 14:50] #163 closed

[2019-06-05 15:14] ludwigschwardt commented on #144
Hi @pkgw, you answered your own question... 😄

*Never* link against `libpython` and *always* use `-undefined dynamic_lookup`. This [post](https://blog.tim-smith.us/2015/09/python-extension-modules-os-x/) explains it very well.

I just [enforced](https://github.com/ska-sa/homebrew-tap/pull/19/commits/b2fad8fd6ac0f519d477a5cf23c61ca9a4ce657a) this last month in my Homebrew formula.

[2019-06-05 17:12] gervandiepen commented on #130
I've closed it.

[2019-06-05 17:19] gervandiepen commented on #129
This is a feature, not a bug.
It is the question of C-order vs Fortran-order.
Python is basically C-order, although it supports Fortran-order by defining the strides correctly. However, that lets Python do a transpose of the image cube when doing something with the data.
It has been discussed with the CASA group. However, they preferred the Fortran order (as it is in the C++ layer), but python-cas

[2019-06-05 17:31] gervandiepen commented on #151
It has been fixed by PR#179.

[2019-06-05 17:31] #151 closed

[2019-06-05 17:33] gervandiepen commented on #140
Can this issue be closed?

[2019-06-05 17:37] gervandiepen commented on #128
Does this issue still occur? It might have been a difference between libraries used at link and run time.
All image.py tests run fine.

[2019-06-05 21:04] DavidGMcConnell commented on #151
Very good. Thank you.
David McConnell
ASKAP Commissioning & Early Science Manager
CASS, CSIRO
david.mcconnell@csiro.au
+61 2 9372 4132

[2019-06-06 08:54] gervandiepen commented on #116
The issue can be circumvented by enclosing the subtable in quotes such as:
     $ms'::ANTENNA'
However, it is somewhat cumbersome, so I'll change Casacore such that it will accept
    "L123.MS"::ANTENNA
python-casacore does not need to be changed.

[2019-06-06 11:03] ludwigschwardt commented on #128
I'm guessing this is a duplicate of #144. Any update, @astrofrog?

[2019-06-14 07:02] gijzelaerr commented on #145
this is working now and good to go!

[2019-06-14 07:02] #145 closed

[2019-06-18 14:31] gijzelaerr opened #180 "Binary linux wheels don't include HDF5 and FFTW"

[2019-06-19 11:04] tammojan commented on #140
Yes, tested with the latest master and it now works.

[2019-06-19 11:04] #140 closed

[2019-06-24 11:49] bennahugo opened #181 "3.1.1 wheel installation does not bind correctly with casacore-data"
Hi.

Sorry for the delay. Here are the minimum steps to reproduce this on an ubuntu 18.04 system:
[code]
yields
[code]

I can confirm that forcing wheel-rebuilding fixes the problem (e.g when installing into /usr/local on the container). It may be better not to try bundle binary that depends on system libraries for wheels since there are 0 guarantees that the wheels are going to be installed on a

[2019-06-24 12:10] bennahugo commented on #181
@ianheywood this replicates the problem you noted for your installations please ensure to use https://pip.pypa.io/en/stable/reference/pip_install/#cmdoption-no-binary as workaround

[2019-06-24 12:43] tammojan commented on #181
Another workaround / solution is to edit ~/.casarc to point to the right location for the measures data.

[2019-06-24 13:46] gervandiepen commented on #116
This seems to work fine. Probably it has been fixed some time ago.
Please check and close the ticket.

[2019-06-24 14:14] ludwigschwardt commented on #181
My 2 💰...

I would say use the following data directories for the various wheels:

- manylinux: `/usr/share/casacore/data`
- macOS: `/usr/local/share/casacore/data`

That's going to satisfy most of our users.

The only 100% clean solution would be a python-casacore Debian package / Homebrew formula that is guaranteed to work with the other parts of casacore in those distributions.

[2019-06-24 14:15] ludwigschwardt commented on #181
@tammojan, interesting! Could you point me to more info on the `.casarc` file?

[2019-06-25 08:02] Popiette opened #182 "_measures.so: undefined symbol: _ZTIN8casacore5QBaseE"
I am trying to run a program that require casacore, and python-casacore.
I compiled casacore myself to be sure I have the latest version (I even made a `sudo apt-get upgrade casacore*` to be sure to have all the required stuff), and python-casacore have been installed successfully in a virtualenv with pip.

But when I run my program, I get this error
[code]

But when I look the content of the file

[2019-06-25 08:14] gervandiepen commented on #182
I suspect that the casacore libraries used at build time and run time are
different. Ensure your LD_LIBRARY_PATH is not such that other libraries are
used.

On Tue, Jun 25, 2019 at 10:03 AM Pierre Jacquot <notifications@github.com>
wrote:

[2019-06-25 08:48] Popiette commented on #182
I have no LD_LIBRARY_PATH environment variable set. :/
Setting it to `/usr/local/include/` where is the casacore folder for the headers files doesn't seems to change anything.

[2019-06-25 08:54] tammojan commented on #181
Sure. I'm afraid the documentation is both too concise and way too verbose, but have a look at the [docs](https://casacore.github.io/casacore/classcasacore_1_1Aipsrc.html#details). The key for setting a custom data directory is `measures.directory: ~/opt/casacore/data/` (for example, where this directory should contain a subdirectory `geodetic`).

[2019-06-25 12:44] ludwigschwardt commented on #182
When you pip install the latest `python-casacore` as a wheel, it comes with its own set of casacore libraries independent of any compiled or apt-get installed versions. But `DDFacet` will also build an extension that won't know about these libraries, and will use the compiled / apt-get installed ones. Putting them together in one Python session is probably a recipe for disaster...

Get around this

[2019-06-25 13:16] Popiette commented on #182
OK, so I installed the program (DDFacet) with this command : `pip install --no-binary python-casacore DDFacet/`.
Still no problems during the installation, but only when I run the program.

I understand what you want to do by using the --no-binary parameter @ludwigschwardt, but can we be sure that casacore can be found by python-casacore ? Maybe it (casacore) has been installed to the wrong place,

[2019-06-25 13:49] ludwigschwardt commented on #182
If `python-casacore` cannot find `casacore`, the extension won't compile and the installation will fail.

I would start with `pip uninstall python-casacore` to make sure nothing is lurking, and then
[code]
just to be sure.

[2019-06-25 13:56] ludwigschwardt commented on #182
Also try
[code]
to see which casacore library is in use. Compare that with `ldd` run on the `.so` files of DDFacet.

[2019-06-25 14:11] Popiette commented on #182
I tried these commands with one of my colleagues few minutes ago.

We discovered that I made a mistake while installing my program (the one who need python-casacore). I cloned a github repository, and installed it with pip like this :
`pip install path/to/the/cloned/repo/`
Apparently, installing the program this way cause problem, because when I install it without cloning the repo : `pip install D

[2019-06-25 14:11] #182 closed

[2019-06-25 15:03] pkgw commented on #144
OK, I got this working on conda-forge and I don't see a clear action item for python-casacore here, so I'll close this.

[2019-06-25 15:03] #144 closed

[2019-06-25 15:21] ludwigschwardt commented on #182
Glad you got sorted out!

[2019-08-20 08:23] bmerry opened #184 "Linux binary wheels don't work with numpy<1.16.0"
With python-casacore 3.1.1 installed from a binary wheel and numpy 1.15.4 on Ubuntu 18.04 x86_64, I get the following error when trying to load a table (note: the error only happens when trying to open the table, not on import):
[code]

Upgrading to numpy 1.16.0 or above fixes it. I'm not sure if this is a source-level dependency on numpy or an ABI thing. Possibly building the wheel against an old

[2019-08-20 09:20] bmerry commented on #184
This bit of the numpy docs seems relevant: https://docs.scipy.org/doc/numpy/reference/c-api.array.html?highlight=import_array#checking-the-api-version

It looks like NPY_FEATURE_VERSION (aka NPY_API_VERSION) was bumped in 1.16.0, so it's expected that wheels built against it won't work against older versions of numpy.

[2019-08-31 13:27] o-smirnov commented on #130
Gah, I've been bitten by this bug again. Someone remind me, when does the fixed release (3.1.1) get into KERN and/or KERN-dev? And can I pip install it in the meantime?

[2019-08-31 14:43] gijzelaerr commented on #130
This will land in KERN-dev / KERN-6 on the next KERN release sprint which has not been scheduled yet.

[2019-09-27 21:42] o-smirnov opened #185 "casacore.measures doesn't know where the Sun is"
From my understanding, if I want to get the az/el position of the Sun at WSRT right now, I need to do this:
[code]
But the result I get is:
[code]

By contrast, if I replace the last line with
[code]
I get sensible output. So it obviously has enough frame information to convert J2000 to az/el -- why can't it tell me where the Sun is?

[2019-09-28 06:39] gervandiepen commented on #185
I’m on vacation now and don’t about dm.

TaQL can also be used like

import pyrap.tables as pt
azel = pt.calc(“meas.azel(‘sun’, datetime(), ‘wsrt’)”)

See note 199

Cheers
Ger

Op vr 27 sep. 2019 om 22:42 schreef Oleg Smirnov <notifications@github.com>

[2019-09-28 07:17] tammojan commented on #185
I'm afraid I cannot reproduce the error:
[code]

[2019-09-28 10:01] o-smirnov commented on #185
Interesting. Actually, it works for me as well on a vanilla Ubuntu 18.04 install. Fails as per above inside a container. I'll try to rebuild and pip reinstall to see if it goes away.

[2019-09-28 10:57] o-smirnov commented on #185
OK, found the difference -- the container was using KERN4. It works fine with KERN5, apart from some mysterious warnings:
[code]

[2019-09-28 12:16] tammojan commented on #185
I got the same mysterious warnings; we'll look into that.

[2019-09-30 06:51] dpetry commented on #185
I think one needs to look into the implementation of "today". The fact that the ephemerides are unknown for negative UT days are probably not so surprising.

[2019-09-30 07:52] sabourke commented on #185
Sounds like #799 Debian/Ubuntu didn't include the JPL solar system data. Olebole put the fix in Debian so it should be making its way in there.

[2019-11-08 00:26] tmolteno opened #186 "python3 and measures.get_value seems to have a problem with indexing keys()"
This appears to be a python3 issue:

Steps to reproduce:

    from casacore.measures import measures

    dm = measures()
    epoch = dm.epoch(rf='utc', v0=ts.isoformat())
    epoch_d = dm.get_value(epoch)

Produces the following error:

    File "XXXXX.py", line 132, in timestamp_to_ms_epoch
        epoch_d = dm.get_value(epoch)
     File "/usr/lib/python3/dist-packages/casacore/measures/__init__

[2019-11-15 11:40] #185 closed

[2019-11-15 11:41] #116 closed

[2019-11-15 12:40] tammojan opened #188 "Travis does not test python2 anymore"
The python-casacore travis jobs (e.g. https://travis-ci.org/casacore/python-casacore/jobs/612360169) now run python3 by default. To test python2.7, it should be possible to set `python=2.7` somewhere in `.travis.yml`, but I don't know how to get this into the build matrix.

[2019-11-15 14:01] tammojan commented on #186
Thanks for reporting, and providing the fix! This should be fixed in #187

[2019-11-17 03:23] #186 closed

[2019-11-19 13:22] matmanc opened #189 "fail compilation on fedora30 missing library path"
Hi could you please add the path '/usr/lib64' to the setup.py. In fact, of fedora30 64bit the path is used to install the boost libraries.
I know that can be overridden but it is better to have if off the shelf because it will work with pip then.

Moreover, the binary version is not compatible with fedora30 because it requires libreadline7 and the distribution only comes with version 5,6 and 8...

[2019-11-20 12:34] #189 closed

[2020-01-14 07:05] bennahugo commented on #181
ping on this issue. This also affects 3.2 wheels on a fresh installation. I've also seen binding issues against non-existing boost libraries.
[code]

[2020-01-14 07:07] bennahugo commented on #181
Perhaps the solution is to rsync the NRAO data directly upon installation and do periodic rsyncs when the installation is out of date?

[2020-01-14 16:41] ludwigschwardt commented on #181
AstroPy syncs its measure data to `~/.astropy/cache` IIRC. That's another option.

[2020-01-14 19:27] tammojan commented on #181
The following will fix your installation, which is not broken, just not configured to find data:
[code]

It may be good to compile casacore in KERN to specify this data directory, i.e. build casacore with `-D DATA_DIR=/usr/share/casacore/data`.

[2020-01-15 12:34] gijzelaerr commented on #188
the docker containers test python2 right?

[2020-04-16 09:45] #188 closed

[2020-04-16 09:45] tammojan commented on #188
Yes that's right.

[2020-04-16 19:47] pkgw opened #197 "LICENSE file not included in source distribution"
If you download the source from PyPI, the LICENSE file isn't included in the bundle. Besides being the recommended practice, including it would make the conda packaging system a bit happier.

[2020-04-17 07:01] #197 closed

[2020-04-17 10:10] AlexKurek opened #199 "LOFARsofts Dockerfile crashes at python-casacore"
Im getting this error while trying to compile:
https://git.astron.nl/ro/lofar/-/blob/master/Docker/lofar-base/Dockerfile.tmpl
CPU on this machine: Xeon(R) CPU E5-2640 v2

[2020-04-17 11:40] AlexKurek commented on #199
Solved by changing:
https://git.astron.nl/ro/lofar/-/blob/master/Docker/lofar-base/Dockerfile.tmpl#L65
to `-march=native`

[2020-04-17 12:20] tammojan commented on #199
Great. Have you committed that to the LOFAR repo, or made a PR?

[2020-04-17 12:23] #199 closed

[2020-04-17 12:29] AlexKurek commented on #199
No really, Im not a member of this project and Im not a programmer, Im not sure if I can do that

[2020-04-17 12:31] tammojan commented on #199
Ok, I'll see if I can do that.

[2020-04-17 12:31] tammojan commented on #199
Closed because not really a python-casacore problem.

[2020-04-17 20:53] tammojan opened #200 "Binary wheel missing for python 3.8"

[2020-04-18 09:42] tammojan commented on #123
I think this should be resolved on the current master.

[2020-04-18 09:42] #123 closed

[2020-04-20 08:23] tjuerges commented on #199
Just for completeness:
There is a bug in the Dockerfile for lofar-base.  LOFAR_BUILDVARIANT can be set but it's setting not always observed.  I will fix this later today.

[2020-04-20 08:43] AlexKurek commented on #199
On Xeon(R) CPU E5-2640 v2 when I compile lofar-base + lofar-pipeline and try tu run Prefactor 3, it crashes immediately giving

Same thing is working on Xeon(R) Gold 5115. Maybe this is the reason

[2020-04-21 11:20] tammojan opened #202 "Dysco and LofarStMan missing in binary wheels"

[2020-04-22 10:50] tjuerges commented on #199
Hi Alex,
the latest tagged release (LOFAR-Release-4_0_16) should have a fix for the issue.  Please set the Docker --build-arg CPU_OPTIMISATION="x86-64" and LOFAR_BUILDVARIANT="gnucxx11_opt". This will build everything for Intel 64-bit CPUs without any CPU speficic optimisations.  Once you have verified that the image works, you can begin building the images on the system where you intend to later

[2020-04-22 13:04] AlexKurek commented on #199
Hi,
I will compile it and see if its working on my machine. Meanwhile I noticed:
`getcwd() failed: No such file or directory`
I will not break the compilation in case of apt-get (in case of pip it would!), but if you want to get rid of it, before this line:
https://git.astron.nl/ro/lofar/-/blob/master/Docker/lofar-base/Dockerfile.tmpl#L114
add `cd ../..`
The same for casarest

[2020-04-22 15:44] AlexKurek commented on #199
I compilled using `LOFAR_BUILDVARIANT="gnucxx11_optarch"` and `CPU_OPTIMISATION="native"` and I got:

This is what I got earlier on the other machine, so it seems the fix is working?

Anyway, I noticed that there are no LoSoTo, RMExtract and LSMTool in those (base, pipeline) Dockerfiles. So no wonder that Prefactor is not working and actuall it not proves that Prefactor master is still not compati

[2020-04-28 06:50] tammojan opened #203 "Warn about broken casacore 3.0.0 version number"
The error message in setup.py could be improved to mention that the version number in casacore 3.0.0 is wrongly reported as 2.5.0 (this was fixed in casacore 3.0.1). Casacore 3.0.0 is widespread by KERN5.

See https://github.com/kernsuite/packaging/issues/221

[2020-05-04 11:37] o-smirnov opened #204 "'MSColumns' does not name a type; did you mean 'ROMSColumns'"
Getting a build error when building meqtrees with 3.3, but it looks like a purely casacore issue.

https://github.com/ska-sa/meqtrees-timba/issues/58

[code]

[2020-05-04 18:12] astrofrog commented on #200
I ran into this today too!

[2020-05-05 09:11] gervandiepen commented on #204
All ROMS classes have been removed (integrated in the MS ones).
AFAIK casarest has been changed accordingly. Did you renew it?

On Mon, May 4, 2020 at 1:37 PM Oleg Smirnov <notifications@github.com>
wrote:

[2020-05-05 09:13] o-smirnov commented on #204
@bennahugo, could you please check the build accordingly? Is casarest updated?

[2020-05-06 11:20] tammojan opened #206 "Len(tablecolumn) returns not integer"
This is python 2.7 specific, and was introduced between casacore 3.3.0 and the latest master.

Reproduce with:
[code]
[code]

See [this travis build](https://travis-ci.org/github/casacore/python-casacore/jobs/683559694#L995). The python3 build against casacore master [succeeds](https://travis-ci.org/github/casacore/python-casacore/builds/683559691).

[2020-05-12 11:37] #203 closed

[2020-05-12 11:40] #184 closed

[2020-05-12 11:40] #200 closed

[2020-05-12 11:41] tammojan commented on #206
Fixed by #207

[2020-05-12 11:41] #206 closed

[2020-05-12 12:22] #181 closed

[2020-08-28 12:23] cyriltasse commented on #162
Hi - I have to do an install in my home directory. I'd love to use kern here bit I just can't... :-1:

I have a problem here and I think it's connected to another issue I have with `Dysco`. Specifically I don't get something compiling `python-casacore` against my local `casacore` (which root is in the VE `/data/tasse/VE_Py3_nancep4_fixDysco`) calling for the `setup.py`, with the `CFLAGS` as docume

[2020-08-28 12:27] cyriltasse commented on #162
Maybe it's not a `CFLAG` issue (probably a user issue), but let me know, I'm super puzzled, and I probably have something to learn here...

[2020-08-28 12:37] cyriltasse commented on #162
Ok it's fine, got a magic hand from SA, I had not understood static linking vs dynamic and how the kernel deals with it. My `casacore` lib had to be in `LD_LIBRARY_PATH`... :)

[2020-09-18 10:02] rstofi opened #210 "Create new casacore images results in empty pixel unit"
When I create an image from a `NumPy array` and `coordinates` object, the pixel units are missing, and I can't find a way to add (or change) pixel units in the images module.

I can go around this by opening an image as a table and add the units keyword with the corresponding value, but it seems to be a non-optimal solution.

Is it possible to add a `putunit()` functionality to the images module?

[2020-12-02 12:42] o-smirnov commented on #130
Please reopen! I see it rearing its ugly head again.

I'm running in a venv with python-casacore  3.3.1. Here's an example:

[code]

[2020-12-02 12:47] bennahugo commented on #130
Same issue with getcolnp @o-smirnov ?

[2020-12-02 13:38] o-smirnov commented on #130
An excellent question, @bennahugo! The plot thickens:
[code]
Doesn't look like it reads in the whole array, does it?

[2020-12-02 15:03] bennahugo commented on #130
ok then it is different from the previous known bug and seems to indicate that taql selection is broken. Can you confirm these are variable shaped columns?

[2020-12-02 15:08] o-smirnov commented on #130
Variable-shaped. But why do you think this is a TaQL issue and not another large array issue? It could be that the influence of the TaQL query above is only in determining whether resulting table is in [broken] large-array or [working] small-array regime.
[code]

[2020-12-02 19:26] bennahugo commented on #130
It used to be the case that getcolnp was a workaround, so I'm not sure from
the example if this is related to the previous bug or something explicitly
stemming from the queried data. I will do some checks tomorrow as well.

On Wed, 02 Dec 2020, 17:08 Oleg Smirnov, <notifications@github.com> wrote:

[2020-12-07 14:55] gervandiepen commented on #130
Which casacore version is used?

[2020-12-07 14:58] o-smirnov commented on #130
[code]

[2020-12-08 10:23] tammojan commented on #130
Ger's fix (casacore/casacore#860) was incorporated in casacore release 3.1.0, so this may be a new bug.

[2020-12-09 11:39] bennahugo commented on #130
@o-smirnov I cannot reproduce this getcolnp incomplete read behaviour compiling the latest masters from both casacore and python-casacore. Are you sure you are not using a stale casacore in a virtualenv - remember this thing is now compiled in with the wheel distribution. Can you try running the following reproducer on your data and setup and let me know if you can reproduce? I have successfully r

[2020-12-09 13:17] o-smirnov commented on #130
Thanks @bennahugo. Where is the MS, is this com08? I'll see if I can reproduce.

I'm seeing the problem in a relatively fresh venv with python-casacore 3.3.1.

[2020-12-09 13:41] bennahugo commented on #130
This is com08. I was hoping you could run the script with a suitable large
selection against your data to see if it is something in your environment.
That is perhaps easier than copying 1Tib of data across to Rhodes?

On Wed, 09 Dec 2020, 15:18 Oleg Smirnov, <notifications@github.com> wrote:

[2020-12-10 16:46] o-smirnov commented on #130
@bennahugo your "reproducer" runs ok on my MS, but it's reproducing the wrong thing. You are doing a query on a set of SCAN_NUMBERs and taking pains to make sure the selection has contiguous rows -- why? My failure is much simpler to reproduce, I just extract one field:

[code]
This results in an MS of 406260 rows. The rows are **not** contiguous w.r.t. original MS (these are scans 27, 40, 52, in

[2020-12-10 17:05] bennahugo commented on #130
@o-smirnov thanks. The reproducer is targetted to large reads of the ms and indicates that the bug you are encountering is NOT the same as the previous index size bug fixed by @gervandiepen. To me it now looks more like a selection bug than anything else. I will adjust the script to do non-contiguous reads by scan (I don't have calibrated data that have multiple fields in the dataset) and get back

[2020-12-14 13:35] o-smirnov commented on #130
@bennahugo the MS is ``/net/simon/home/oms/projects/OldDevils/msdir/1557766852_sdp_l0-kgb_cal.ms")

Reproducing is dead simple:

[code]

[2020-12-16 00:04] bennahugo commented on #130
@o-smirnov  Good news I cannot reproduce this on another multifield dataset after compiling 3.1.1 from source, bad news is I cannot reproduce this on another multifield dataset after compiling 3.1.1 from source...... I'm copying your data over to my environment now. Either there is a difference in the storage manager (which I don't think is the case - both measurement sets are MeerKAT datasets dum

[2020-12-17 05:29] bennahugo commented on #130
Just an update. I can reproduce this on @o-smirnov's dataset with a custom compiled casacore and bound python-casacore both at 3.3.1. The target he is attempting to load is a field which scans are interleaved by many other scans and hundreds of thousands of rows. I tried reproducing the same issue on another dataset by loading the first few scans and the last scan of a target field at the native 2

[2020-12-17 05:30] bennahugo commented on #130
may be related to cyriltasse/DDFacet#536

[2020-12-17 16:39] bennahugo commented on #130
I've rewritten some of the observation logic in https://github.com/ratt-ru/simms/pull/58 to simulate a multi field interleaved dataset with the scans dispersed in round robin fashion hundreds of thousands of rows apart to try and get something closer to @o-smirnov's edge case. Alas it still does not reproduce, so I'm not sure how to construct a reproducable example as it seemingly only affects thi

[2020-12-17 18:14] o-smirnov commented on #130
I'll try to extract increasingly smaller subsets of this MS to see if I can get a smaller reproducer MS. Thanks for verifying @bennahugo. It's an extremely worrying bug, but thankfully doesn't seem to occur that easily, eh?

[2020-12-18 15:18] o-smirnov commented on #130
Here's another datapoint for you. If I read the column in chunks like so:
[code]
..then the failure mode depends on chosen chunksize:

* <=45000 rows: array is completely filled (with the correct data, I will optimistically assume)

* 47500-50000 rows: array is unfilled from row 135420 onwards (Numerology alert! 135420 is exactly the number of rows per scan here!)

* 100000 rows: array is unfilled

[2020-12-18 16:10] bennahugo commented on #130
Interresting.... that means we may be dealing an signed 32 bit float indexer somewhere. Good job. My gdb is now hooking into gdbserver on the server, but it is painfully slow to compile things with symbol paths relative to the host gdb session. I will probably only get to it next year after my vacation

[2020-12-18 16:31] o-smirnov commented on #130
Well, 32768 rows is 2^29 visibilities is 2^32 bytes, and that works ok... and some time before we get up to 2^30 visibilities and 2^33 bytes, it falls to the floor in a heap...

So yes, we're suspiciously close to the dreaded binary powers of 31-32. Yet strangely the "breaking point" is somewhere in between whole powers of 2, so what gives?

[2020-12-18 16:32] o-smirnov commented on #130
@tammojan, @gervandiepen please feel free to chime in. This is an existential bug after all. :)

[2020-12-18 18:15] o-smirnov commented on #130
OK, "good" news is, I averaged the MS down to 1024 channels (factor of 4), and I can still reproduce the bug.

Interestingly, the "breaking point" (in terms of the number of rows) has shifted, it is not simply x4 larger. The code above now works with rowchunks of 100,000, and breaks with rowchunks of 160,000.

But at least the "reproducer" MS is now only 73Gb! So, it is eminently practical to ship

[2020-12-21 08:11] gervandiepen commented on #130
I'm looking into the problem, but my time is limited. Too often me grandchildren require my attention, which is pretty nice :-)

[2020-12-21 12:07] o-smirnov commented on #130
I'm sure they're a lot more fun than we are. :grinning:

Can I bribe them with some ice cream to take an interest in the table system?

[2020-12-21 15:14] gervandiepen commented on #130
Too cold for ice cream these days :-)

On Mon, Dec 21, 2020 at 1:07 PM Oleg Smirnov <notifications@github.com>
wrote:

[2020-12-28 07:42] JSKenyon commented on #130
A very random contribution, but have you tried mucking with the cache size and seeing if it changes anything @o-smirnov?

[2020-12-28 07:47] o-smirnov commented on #130
How would I do that exactly? You mean ``setdmprop``?

[2020-12-28 08:03] JSKenyon commented on #130
`ms.setmaxcachesize(COL_NAME, SIZE)`

Do not set it to zero, as that means no limit. Setting to 1 (one byte, I believe) would be an interesting experiment. Actually, maybe unlimited would be interesting if you have enough RAM.

[2021-02-12 07:46] gijzelaerr commented on #204
@bennahugo i think this issue can be closed?

[2021-02-12 08:17] bennahugo commented on #204
Yes all of this has since been fixed within Meqtrees. Meqtrees-timba builds against cc 3.3.0 and casarest v1.7.0

[2021-02-12 08:51] #204 closed

[2021-02-23 08:31] gijzelaerr opened #213 "Issue compiling python-casacore on ubuntu 20.04 with casacore 3.4.0"
[code]

[2021-02-23 13:10] gijzelaerr opened #216 "Lots of warnings (and an error) with boost 1.75.0 and casacore 3.4.0z"
[code]

[2021-02-23 16:53] gabicca commented on #213
Hi, I think I have the same problem on MacOS BigSur (running on the latest ARM-based M1 chip laptop). Here is the error when I try installing python-casacore with pip but also when I'm building it from source:
[code]
I have casacore 3.4.0 as well.

Just wanted to add a note so this problem doesn't get forgotten :)

[2021-02-24 05:43] gijzelaerr commented on #213
yes, its the same. This PR should fix the issue https://github.com/casacore/python-casacore/pull/215

[2021-02-24 09:17] gabicca commented on #213
Great, Thanks! Do you know maybe with which release the fix will be available and roughly when?

[2021-02-24 09:22] gijzelaerr commented on #213
the next release, which we are working on now. can't make any promises, but maybe next week.

[2021-03-03 14:08] o-smirnov commented on #130
@Athanaseus has been bitten by this as well.

[2021-03-05 09:39] tammojan commented on #213
Fixed by #215.

[2021-03-05 09:39] #213 closed

[2021-03-15 05:26] rtobar opened #219 "Duplicate gfortran shared library in binary wheel"
The 3.4 binary wheels contain two copies of `libgfortran` for soversions 3 and 5, required by `blas` and `scimath_f` respectively:

[code]

I'm not sure if this one is on purpose or accident, or whether it will have impacts during runtime (probably not?), but I thought I'd report it here.

[2021-03-16 16:28] gabicca opened #220 "Running multiple tests that call python-casacore 3.4.0 throws a "Fatal Python error: Aborted" error on GitLab runner 13.7.0, with python3.7"
This is a long-shot but maybe someone else also encountered this problem.

When running tests on a python3.7 linux container built via GitLab runner 13.7.0, the following error is produced:

[code]

This is the python-casacore installation:
[code]

When I install python-casacore 3.3.1, the error doesn't occur. So that's why I thought that the problem is either comming from here or casacore itself.

[2021-05-02 00:54] miguelcarcamov opened #221 "multi-mms reading"
Hi everyone,

I want to implement a multi-mms reader using python-casacore. Also, I want to convert a normal MS to MMS in my python framework. It is possible to this with python-casacore and not using the CASA partition function? What would be the difference between reading a table or using taql queries if the input measurement set is normal or multi-mms? It is possible to read a mms file using py

[2021-05-02 09:37] gervandiepen commented on #221
Hi Miguel,

I understand you want to partition an MS into multiple parts (e.g., by
spectral window) and thereafter virtually concatenate them into an MMS.
You can do the split with taql using a query per part like
     select from main.ms where DATA_DESC_ID=1 giving part1.ms
In this way it creates a reference table (i.e., it only contains the row
numbers in the original MS). The advantage is that

[2021-05-02 09:51] gervandiepen commented on #221
Sorry. Touched the sent button too early.

# Split the MS by iterating over the spectral windows
ms=pt.table('main.ms')
nr=0
names=[]
for t in ms.iter('DATA_DESC_ID'):
    name='part%d.ms'%nr
    t.rename(name)
    nr+=1
    names.append(name)
ms.close()
# Concatenate all parts into an MMS
t=table(names)
t.rename('my.mms')

Using python-casacore is a bit easier than using taql, because you can use

[2021-05-05 19:44] miguelcarcamov commented on #221
yes, this is exactly what I am looking for. A way to partition the measurement set so my program can read big datasets. Although I found a really useful tool for it (dask-ms) which uses python-casacore too :)

[2021-05-05 19:45] #221 closed

[2021-06-24 21:38] ludwigschwardt opened #222 "PyPI macOS wheel for 3.4.0 seems broken"
Aah, the dreaded double nelson! 😜

The `python_casacore-3.4.0-cp39-cp39-macosx_10_15_x86_64.whl` wheel on PyPI installs fine but any access to the C++ code results in a segfault. Here is a quick check:
[code]
I've verified this on the target system (macOS 10.15.7 and Python 3.9.5) but apparently it also installs and crashes on macOS 11.4.

A workaround is to build from source:
[code]

Could we del

[2021-07-05 07:22] gijzelaerr commented on #222
thanks for reporting this @ludwigschwardt. I've removed `python_casacore-3.4.0-cp39-cp39-macosx_10_15_x86_64.whl` from pypi.

[2021-08-05 18:22] keflavich commented on #222
Could you guys point to a configuration (e.g., a conda environment) that will enable installation of python-casacore?  I've been trying both with and without wheels with no luck.  I can post this as a separate issue if preferred.

[2021-08-05 19:51] ludwigschwardt commented on #222
Hi Adam, I maintain a [Homebrew tap](https://github.com/ska-sa/homebrew-tap) that builds casacore 3.4.0:
[code]
There is also a [casacore tap](https://github.com/casacore/homebrew-tap) that should be equivalent (I tested the former):
[code]
After this I installed `python-casacore` from the source distribution:
[code]
This works for me on 10.15.7 + Python 3.9.5.

[2021-08-11 17:02] gmloose opened #223 ""pip install" fails when casacore is installed in non-default location"
When `casacore` is installed in a non-default location (e.g. `/opt/casacore`), then `pip install` of `python-casacore` fails. Reason is that the variable `casa_includedir` in `setup.py` is set to `''` when the `casacore` header files cannot be found. However, this empty directory is added to the list of `include_dirs`, which results in a compile command that contains a `-I` option without argument

[2021-08-11 17:08] gmloose commented on #223
The following patch solves the issue.
[python-casacore_setup-py.patch.txt](https://github.com/casacore/python-casacore/files/6970174/python-casacore_setup-py.patch.txt)

[2021-11-17 21:28] miguelcarcamov opened #225 "Fail compiling python-casacore on ubuntu 18.04"
Hello, I am trying to install python-casacore on a system that already have casacore installed. However I am getting this error:

[code]
Does anyone know what could be the cause of this error?

Cheers,

[2021-11-18 13:42] miguelcarcamov commented on #225
The error was fixed by updating pip.

[2021-11-18 13:42] #225 closed

[2022-01-14 11:32] charchemist commented on #10
I have met the same issue, could you explain the reason and how it can be fixed? thx

[2022-01-14 11:36] tammojan commented on #10
This is probably a python3 vs python2 issue. Could you confirm that you're using python3?

[2022-01-14 11:37] charchemist commented on #10
yes it's true

[2022-01-14 11:42] tammojan commented on #10
Which version of python-casacore are you using? Did you check out the latest master, or the latest release?

[2022-03-18 15:34] maxnoe opened #227 "undefined symbol: register_derivedmscal when importing `casacore.tables`."
Trying to install the whole LOFAR software on an ubuntu 20.04 workstation.

1) Create and activate a virtualenv using the system python 3.8 in `/opt/LOFAR/python`:

[code]

2) Install python requirements and ipython:

[code]

3) Download casacore data into `/opt/LOFAR/casa/data`

4) Building and install casacore:

[code]

5) Download and install dysco:

[code]

6) Install `python-casacore` in `--n

[2022-03-18 19:56] StFroese commented on #227
This may be related

https://github.com/casacore/python-casacore/blob/f722ae9c06fac81bab336d0113eaec437ce97b6b/src/tables.cc#L57-L61

[2022-03-18 19:58] maxnoe commented on #227
Ah, dam. There was a hint about adding `-DBUILD_SHARED_LIBS` somewhere. I guess we need to add this to the casacore cmake call.

[2022-03-18 20:08] StFroese commented on #227
There's a hint to use this flag for the AOFlagger install on the LOFAR software page [here](https://www.astron.nl/lofarwiki/doku.php?id=public:user_software:lofar)

[2022-03-19 15:47] StFroese commented on #227
I rebuilt it from scratch with `-DBUILD_SHARED_LIBS=ON` for the casacore cmake but the error still remains.

[2022-03-19 17:13] StFroese commented on #227
I think I figured out a fix for this.

1. `libcasa_derivedmscal.so` doesn't show up in the `_tables.cpython-38-x86_64-linux-gnu.so`
[code]
2. It seems to be that there is a default flag added to `ld` called `--as-needed` on Ubuntu which results in libraries not beeing linked (take a look [here](https://wiki.gentoo.org/wiki/Project:Quality_Assurance/As-needed))
3. Defining `export LDFLAGS="-Wl,-rpa

[2022-03-19 19:13] tammojan commented on #227
Wow that's a nasty flag. Thanks for figuring it out! So do you think we should put this flag in the setup.py of python-casacore?

[2022-03-19 19:47] maxnoe commented on #227
In my experience, this comes from a wrong order of arguments. Linked libraries have to come after source files, so they are "needed"

[2022-03-23 15:04] jjdmol opened #228 "pip install on windows fails (opt.split())"
Trying to install python-casacore on windows runs into a bug in the argument parsing:
[code]

[2022-03-23 15:06] tammojan commented on #228
Thanks for reporting. `python-casacore` is not supported on Windows. However, I appreciate your attempts. Have you managed to install casacore itself?

[2022-03-23 15:36] jjdmol commented on #228
No I didn't try. This issue can then be closed I guess, leaving this as proof for the search queries of others.

[2022-03-23 15:36] #228 closed, assigned to nobody

[2022-04-05 16:27] JoeGardner000 opened #229 "Several vulnerabilities in the C libraries which python-casacore depends on. Could you help upgrade to patch versions?"
Hi, @tammojan , @shibasisp , I'd like to report a vulnerability issue in **python-casacore_3.4.0**.
### Dependency Graph between Python and Shared Libraries
![微信图片_20220406002651](https://user-images.githubusercontent.com/103017573/161801454-b3c043b2-4a2d-474f-a581-c77789691f5d.png)
### Issue Description
As shown in the above dependency graph (Here shows part of the dependency graph, which depends

[2022-04-05 17:04] tammojan commented on #229
Thanks @JoeGardner000; we're planning to release python-casacore in the next few weeks, we'll make sure to update cfitsio and ncurses in the wheels.

[2022-07-18 11:26] JSKenyon opened #235 "`python-casacore==3.5` does not work with `numpy==1.22`"
The recent release of version `3.5` makes `python-casacore` compatible with Python 3.10. However, the `numpy` version used to build the wheels is very new (`>=1.23.0`). This is problematic as not all packages (e.g. `numba`) have support for this version of `numpy` which makes installing `python-casacore` under Python 3.10 problematic. Would it be possible to instead build the wheels using `numpy==

[2022-08-01 10:36] tammojan commented on #235
Fixed by #236, re-released, and pushed to pip. Could you try to upgrade?

[2022-08-01 10:40] JSKenyon commented on #235
I have triggered my 3.10 CI and will let you know if the problem has been resolved ASAP.

[2022-08-01 12:04] JSKenyon commented on #235
Thanks @tammojan! My 3.10 CI is working as expected. :-)

[2022-08-01 12:04] #235 closed